## String data type in Python:
- Strings are nothing but sequence of characters or words and are denoted by single quote or double quote.

__[Features of string]__
- Strings are immutable
- We cannot modify strings once created

__Why strings are immutable?__
- Strings are made immutable so that programmers can not alter the contents of object, which avoids unnecessary bugs.

__[Types of cases]__

`omkarfadtare` - lower_case, flat_case, lazy_case

`OMKARFADTARE` - upper_case

`omkarFadtare` - (lower) camel_case

`OmkarFadtare` - (upper) camel_case, pascal_case

`omakr_fadtare` - snake_case

`Omkar_Fadtare` - camel_snake_case

`OMKAR_FADTARE` - screaming_snake_case

`omkar-fadtare` - kebab_case, caterpillar_case, spinal_case, css_case

`OMKAR-FADTARE` - screaming_kabab_case

`Omkar-Fadtare` - HTTP_header_case

__[String slicing]__ 
- Slicing of a string is nothing but accessing specified part (substring) of a given string using indexing/numerical values.
- For positive slicing, by default value of start index is 0, end index is len(str1), step size is 1. 
- For negative slicing, by default value of start index is -1, end index is -len(str1) whereas the step size should be kept as -1.

 `p  y  t  h  o  n`
 
 `0  1  2  3  4  5  # Positive slicing`
 
`-6 -5 -4 -3 -2 -1  # Negative slicing`

In [19]:
str1 = 'python'
print(str1[::])

python

In [20]:
str1 = 'python'
print(str1[0:len(str1):1])

python

In [21]:
str1 = 'python'
print(str1[::2])

pto

In [22]:
str1 = 'python'
print(str1[::-1])

nohtyp

In [23]:
str1 = 'python'
print(str1[-1::-1])

nohtyp

In [22]:
str2 = 'Python programming'

print(str2[::])
print(str2[:])
print(str2[0:len(str2)])
print(str2[0:6])
print(str2[::2])
print(str2[::-1])
print(str2[::-2])
print(str2[-1:-20:-1])

Python programming
Python programming
Python programming
Python
Pto rgamn
gnimmargorp nohtyP
gimropnhy
gnimmargorp nohtyP

__[String concatnation]__
- String concatnation is used to combine 2 strings using operators.

In [26]:
str1 = 'python'
str2 = 'and data science'
str3 = str1 + ' ' + str2
print(str3)

python and data science

In [7]:
str1 = 'Data'
print(str1*5)

DataDataDataDataData

In [2]:
var1 = '5'
var2 = '6'
var3 = var1 + var2
print(var3)
print(type(var3))

56
<class 'str'>

In [3]:
var4 = int(var1) + int(var2)
var4

11

In [30]:
def Scream(string, string2):
    print(f'And then he started shouting as {string} {string2*2} ...')
    
Scream('Please', 'Help')

And then he started shouting as Please HelpHelp ...

In [4]:
folder_path = r"C:\Users\omkar\AppData\Local\Programs"
file_name = 'String_Functions'
file_path = folder_path + '\\' + file_name
print(file_path)

C:\Users\omkar\AppData\Local\Programs\String_Functions

__[String functions]__

- upper()
- lower()
- capitalize()
- title()
- casefold()
- swapcase()
- lsrtip()
- rstrip()
- strip()
- center
- rjust()
- ljust()
- zfill()
- replace()
- split()
- join()
- count()
- expandtabs()
- index()
- find()
- endswith()
- startswith()
- isspace()
- istitle()
- isupper()
- islower() 
- isalnum()
- isalpha()
- isdecimal()
- isdigit()
- isnumeric()

__1) .upper()__
- It returns a copy of string in uppercase.
- __`Syntax : var.upper()`__

In [27]:
str1 = 'python'
str2 = 'data science'
print(str1.upper())
print(str2.upper())

PYTHON
DATA SCIENCE

__2) .lower()__
- It returns a copy of a string in lowercase.
- __`Syntax : var.lower()`__

In [28]:
str1 = 'PYTHON'
str2 = 'DATA SCIENCE'
print(str1.lower())
print(str2.lower())

python
data science

In [29]:
aadhar_name = 'Virat Kohli'
pan_name = 'VIRAT KOHLI'
aadhar_name == pan_name

False

In [30]:
a = aadhar_name.lower()
b = pan_name.lower()

print(a)
print(b)
print(a == b)

virat kohli
virat kohli
True

In [31]:
aadhar_name.lower() == pan_name.lower()

True

__3) .capitalize()__
- It capitalizes only first character of the string.
- __`Syntax : var.capitalize()`__

In [57]:
str1 = 'python'
str2 = 'data science'
print(str1.capitalize())
print(str2.capitalize())

Python
Data science

__4) .title()__
- It capitalize first char of each word from a string.
- __`Syntax : var.title()`__

In [62]:
aadhar_name = 'Virat kohli'
pan_name = 'VIRAT KOHLI'
print(aadhar_name.title())
print(pan_name.title())

Virat Kohli
Virat Kohli

__5) .casefold()__
- It converts all the characters from a string into lower case. Aggresive function than .lower(). 
- __`var.casefold()`__

In [58]:
str1 = 'PYTHon and Data SCIENCE'
print(str1.casefold())

python and data science

__6) .swapcase()__
- It inverts cases of all characters that is lower to upper and upper to lower.
- __`Syntax : var.swapcase()`__

In [63]:
str1 = 'Machine Learning'
print(str1.swapcase())

mACHINE lEARNING

In [34]:
str3 = 'Python_programming'
print(str3.upper())
print(str3.lower())
print(str3.capitalize())
print(str3.title())
print(str3.swapcase())

PYTHON_PROGRAMMING
python_programming
Python_programming
Python_Programming
pYTHON_PROGRAMMING

__7) .lstrip()__
- It removes the leading whitespace characters from a string.
- __`Syntax : var.lstrip()`__

In [32]:
aadhar_name = '       VIRAT KOHLI'
pan_name = 'VIRAT KOHLI'

In [33]:
aadhar_name = aadhar_name.lstrip()
print(aadhar_name)
pan_name = pan_name.lstrip()
print(pan_name)
aadhar_name == pan_name

VIRAT KOHLI
VIRAT KOHLI

True

In [34]:
aadhar_name = '       Virat Kohli'
pan_name = '    VIRAT KOHLI'

aadhar_name = aadhar_name.lstrip().lower()
pan_name = pan_name.lstrip().lower()

if aadhar_name == pan_name:
    print("Both the names are same")
else:
    print("Both the names are different")

Both the names are same

__8) .rstrip()__
- It removes the trailing whitespace characters from a string.
- __`Syntax : var.rstrip()`__

In [35]:
aadhar_name = 'Virat Kohli        '
pan_name = 'VIRAT KOHLI       '

if aadhar_name == pan_name:
    print("Both the names are same")
else:
    print("Both the names are different")

Both the names are different

In [36]:
aadhar_name = aadhar_name.lower()
print(aadhar_name)
pan_name = pan_name.lower()
print(pan_name)

virat kohli
virat kohli

__9) .strip()__
- It removes both the leading and trailing white space characters from a string.
- __`Syntax : var.strip()`__

In [37]:
aadhar_name = '       VIRAT KOHLI        '
pan_name =    '   VIRAT KOHLI       '

if aadhar_name == pan_name:
    print("Both the names are same")
else:
    print("Both the names are different")

Both the names are different

In [38]:
aadhar_name = aadhar_name.strip()
print(aadhar_name)
pan_name = pan_name.strip()
print(pan_name)

VIRAT KOHLI
VIRAT KOHLI

__9) .center()__
- This method will center align the string, using a specified character (by default the specified character is space) as fill character.
- __`Syntax : var.center(count, char(optional))`__

In [59]:
txt = "banana"
x = txt.center(20, "*")
print(x)

*******banana*******

In [33]:
str1 = '          Python programming          '
print(str1.lstrip())
print(str1.rstrip())
print(str1.strip())
print(str1.center(3))

Python programming
          Python programming
Python programming
          Python programming

__10) .rjust()__
- It returns a right justified version of the string.
- __`Syntax : var.rjust(count, char(optional))`__

In [61]:
s = "python language"
print(s.rjust(30,'*'))

***************python language

__11) .ljust()__
- It returns a left justified version of the string.
- __`Syntax : var.ljust(count, char(optional))`__

In [64]:
s = "python language"
print(s.ljust(30,'*'))

python language***************

__12) .zfill()__
- It adds zeros (0) at the beginning of the string, until it reaches the specified length.
- __`Syntax : string.zfill(len)`__

In [65]:
txt = "50"
x = txt.zfill(10)
print(x)

0000000050

In [35]:
str1 = 'Python programming'
print(str1.rjust(30,'*'))
print(str1.ljust(30,'*'))
print(str1.zfill(30))

************Python programming
Python programming************
000000000000Python programming

__13) .replace()__
- It replaces a string or a character with another string or character.
- Count (optional) refers to a number specifying how many occurrences of the old value you want to replace. By default is all occurrences.
- __`Syntax : var.replace('old value/char/word', 'new value/char/word', count)`__

In [39]:
str1 = 'Python and Data Science class'
str2 = str1.replace('Python','JAVA')
print('Updated stirng :',str2)

Updated stirng : JAVA and Data Science class

In [8]:
string = '''Python and Data Science, Python is programming Language,
Python is used for
Machine Learning and Deep Learning OUT'''
string = string.lower()
string.replace('a','*').replace('e','*').replace('i','*').replace('o','*').replace('u','*')

'pyth*n *nd d*t* sc**nc*, pyth*n *s pr*gr*mm*ng l*ng**g*,\npyth*n *s *s*d f*r\nm*ch*n* l**rn*ng *nd d**p l**rn*ng **t'

In [6]:
# As we know python is a case sensitive language

string = '''Python and Data Science, Python is programming Language,
Python is used for
Machine Learning and Deep Learning OUT'''
string.replace('a','*').replace('e','*').replace('i','*').replace('o','*').replace('u','*')

'Pyth*n *nd D*t* Sc**nc*, Pyth*n *s pr*gr*mm*ng L*ng**g*,\nPyth*n *s *s*d f*r\nM*ch*n* L**rn*ng *nd D**p L**rn*ng OUT'

In [5]:
# Use of count

str1 = '''Python and Data Science, Python is programming Language,
Python is used for
Machine Learning and Deep Learning OUT'''
str2 = str1.lower()
str2.replace("a","*").replace("e","*",2).replace("i","*").replace("o","*").replace("u","*")

'pyth*n *nd d*t* sc**nc*, pyth*n *s pr*gr*mm*ng l*ng**ge,\npyth*n *s *sed f*r\nm*ch*ne le*rn*ng *nd deep le*rn*ng **t'

In [1]:
str1 = 'Python and Data Science class.'
str2 = str1.replace(' ','*')
print('Updated stirng :',str2)

Updated stirng : Python*and*Data*Science*class.

In [2]:
str1 = 'Python and Data Science class.'
str2 = str1.replace(' ','')
print('Updated stirng :',str2)

Updated stirng : PythonandDataScienceclass.

In [36]:
str1 = 'Python programming'
print(str1.replace('m', 'x'))
print(str1.replace('m','x',1))
print(str1.replace('P','@').replace('n','*'))

Python prograxxing
Python prograxming
@ytho* programmi*g

__14) .split()__
- It returns a list of words or characters from a given string.
- __`Syntax : string.split(separator(optional), maxsplit(optional))`__

In [41]:
str1 = 'Python'
str1.split()

['Python']

In [43]:
str1 = "python and Data Science"
list1 = str1.split()
print(list1)
print(type(list1))

# Joining list again to string

str2 = ' '.join(list1)
str2

['python', 'and', 'Data', 'Science']
<class 'list'>

'python and Data Science'

In [44]:
str1 = 'Python-And-Data-Science'
str1.split('-')

['Python', 'And', 'Data', 'Science']

In [12]:
str1 = 'Python-And-Data-Science'
list1 = str1.split('-')
str2 = ' '.join(list1)
str2

'Python And Data Science'

__15) .join()__
- It joins elements of an iterable.
- __`Syntax : char.join(var)`__

In [44]:
str1 = 'python and data science'
print('*'.join(str1.split()))

python*and*data*science

In [14]:
str1 = 'Python-And-Data-Science'
list1 = str1.split('-',2)
str2 = '*'.join(list1)
print(str2)

Python*And*Data-Science

__16) .count()__
- It returns the count of any word or char in the string.
- __`Syntax : var.count('string', start_index(optional), end_index(optional))`__

In [49]:
str1 = '''Python and Data Science, Python is programming Language,
Python is used for
Machine Learning and Deep Learning'''
str1.count('Python')

3

In [50]:
str1 = 'python class python'
str1.count('p',2,15) # thon class pyth

1

__17) .expandtabs()__
- It sets the tab size to the specified number of whitespaces.
- __`syntax : string.expandtabs(tabsize)`__

In [21]:
str1 ="H\te\tl\tl\to"

print(str1)
print(len(str1))
print('*'*20)
print(str1.expandtabs(2))
print(len(str1.expandtabs(2)))
print('*'*20)
print(str1.expandtabs(3))
print(len(str1.expandtabs(3)))

H	e	l	l	o
9
********************
H e l l o
9
********************
H  e  l  l  o
13

__18) .index()__
- It returns index of any character or word from a given string. By default returns index of first occurance.
- __`Syntax : var.index('substring',start_index(optional),end_index(optional))`__

In [40]:
str1 = '''Python and Data Science, Python is programming Language,
Python is used for
Machine Learning and Deep Learning'''
str1.index('Deep')

97

In [41]:
str1.index(' ') # returns index of first occurance

6

In [43]:
str1.index('Learning', 93,200)

102

__19) .find()__
- Returns index of any character or word from a given string.
- The difference between index() and find() function is that, if a substring is not found in a main string, index() function raise an error.
- Whereas find() function  will not raise an error, instead it will return -1, if substring is not found in main string.
- __`Syntax : var.find('substring',start_index(optional),end_index(optional))`__

In [46]:
str1 = '''Python and Data Science, Python is programming Language,
Python is used for
Machine Learning and Deep Learning'''
str1.find("deep Learning")

-1

In [53]:
str1 = 'Python and data science'
substr = 'Data'

index = str1.find(substr)

if index == -1:
    print(f'{substr} is not present')
else:
    print(f'{substr} is present')

Data is not present

__20) .endswith()__
- It returns True if a string endswith a specified substring else returns False
- __`string.endswith(value, start(optional), end(optional))`__

In [55]:
str2 = 'data science'
str1.endswith("e")

True

In [56]:
str2 = 'data science'
str1.endswith("i")

False

In [46]:
str1 = r'F:\Omkar Phadtare\Study Material\Share market\Standard Course.pdf'
filepath = str1.endswith(".pdf")
print(filepath)

True

In [47]:
str1 = r'F:\Omkar Phadtare\Study Material\Share market\Standard Course.pdf'

if str1.endswith(".txt"):
    print("This is a text file")
else:
    print("Not a text file")

Not a text file

In [60]:
# Tricky:

In [49]:
import os

In [54]:
folder_path =  r'F:\Omkar Phadtare\Study Material\Share market'
file_name_list = os.listdir(folder_path)
print(file_name_list)
print('*'*20)
for i,j in enumerate(file_name_list):
    print(f"{i}) file name is {j}")

['Premium Course.pdf', 'Standard Course.pdf']
********************
0) file name is Premium Course.pdf
1) file name is Standard Course.pdf

In [56]:
for file in file_name_list:
    if file.endswith(".txt"):
        print(f"file {file} is a text file")
    else:
        print(f"file {file} is not a text file")

file Premium Course.pdf is not a text file
file Standard Course.pdf is not a text file

__21) .startswith()__
- It returns True if a string startswith a specified substring else returns False
- __`Syntax : string.startswith(value, start(optional), end(optional))`__

In [66]:
str1 = 'python'
str1.startswith('p')

True

__22) .isspace()__
- It returns True if string only contains space or whitespace character, else returns False. Empty string not allowed it will return False.
- __`Syntax : var.isspace()`__

In [69]:
string = '\t'
string.isspace()

True

In [68]:
string = '\n'
string.isspace()

True

In [67]:
string = ' '
string.isspace()

True

In [66]:
string = '' # Empty string, space is not there
string.isspace()

False

__23) .istitle()__
- It returns True if every character of word present in a string is uppercase else returns False.
- __`Syntax : var.istitle()`__

In [70]:
str1 = 'Python Data Science'
str1.istitle()

True

In [71]:
str1 = 'Python data Science'
str1.istitle()

False

__24) .isupper()__
- It returns True if all the characters in a given string are in upper case, else returns False.
- __`Syntax : var.isupper()`__

In [72]:
string = 'DATA'
string.isupper()

True

In [73]:
string = "DATA SCIENCE 1234 &*^%"
string.isupper()

True

In [74]:
string ="DATa"
string.isupper()

False

__25) .islower()__
- It returns True if all the characters in a given string are in lower case, else returns False.
- __`Syntax : var.islower()`__

In [57]:
string = "Python 2345"
string.islower()

False

In [58]:
string = string.lower()
print(string)
string.islower()

python 2345

True

__26) .isalnum()__
- - It returns True if string is alphanumeric (a-z),(A-Z),(0-9) else returns False (does not allow special and whitespace characters)
- __`Syntax : var.isalnum()`__

In [68]:
str1 = 'python'
str1.isalnum()

True

In [69]:
str1 = 'DataScience123'
str1.isalnum()

True

In [70]:
str1 = 'DataScience 123'
str1.isalnum()

False

In [65]:
str1 = '123'
str1.isalnum()

True

__27) .isalpha()__
- It returns True if string consist of alphabets (a-z),(A-Z) else returns False (does not allow digits, special and whitespace characters)
- __`Syntax : var.isalpha()`__

In [72]:
string = 'python' #lower case
string.isalpha()

True

In [73]:
string = 'PYTHON' #UPPER case
string.isalpha()

True

In [74]:
string = 'PYTHON CLASS'
string.isalpha()

False

In [59]:
string = 'PYTHON%CLASS'
string.isalpha()

False

__28) .isdecimal()__
- It returns True if string contains digits and unicoes of digits else returns False (does not allow characters, integers,  unicodes of characters, unicodes of integers, special and whitespace characters)
- __`Syntax : var.isdecimal()`__

In [78]:
mobile_num = '99'
print(mobile_num.isdecimal())

True

In [79]:
num = '\u0039' # unicode of digit 9
num.isdecimal()

True

In [80]:
number = '3.14' # For string . is a special character, thats why it is returning False
number.isdecimal()

False

__29) .isdigit()__
- It returns True if all the characters in a given string are digits, Unicode’s of digits, subscripts and superscripts unicodes else returns False.
- __`Syntax : var.isdigit()`__

In [61]:
num = '9.1' # For string . is a special character, thats why it is returning False
print(num.isdecimal())
print(num.isdigit())

False
False

In [62]:
num = '9'
print(num.isdecimal())
print(num.isdigit())

True
True

In [81]:
num = '\u0039'  # digit 9
print(num.isdecimal())
print(num.isdigit())

True
True

In [82]:
superscript_2 = "\u00B2" # "superscript of 2"
print(superscript_2.isdecimal())
print(superscript_2.isdigit())

False
True

In [83]:
subscript_2 = "\u2082" # "subscript of 2"
print(superscript_2.isdecimal())
print(superscript_2.isdigit())

False
True

__30) .isnumeric()__
- - It returns True if all the characters in a given string are digits, Unicode’s of digits, subscripts and superscripts or vulgar characters otherwise it returns False. vulgar characters are nothing but fraction 4/5.
- __`Syntax : var.isnumeric()`__

In [63]:
num = '9.1' # For string . is a special character, thats why it is returning False
print(num.isdecimal())
print(num.isdigit())
print(num.isnumeric())

False
False
False

In [64]:
num = '9/5' # For string / is a special character, thats why it is returning False
print(num.isdecimal())
print(num.isdigit())
print(num.isnumeric())

False
False
False

In [84]:
vulgar_fraction_half = '\u00BD' 
print(vulgar_fraction_half.isdecimal())
print(vulgar_fraction_half.isdigit())
print(vulgar_fraction_half.isnumeric())

False
False
True

__[Strings(Interview questions)]__

In [37]:
# converting string case into camel case

str1 = 'Python programming'
str1.split()
list1 = []
for word in str1.split():
    list1.append(word.capitalize())
str3 = ''.join(list1)
print(str3[0].lower() + str3[1:])

pythonProgramming

In [38]:
# converting string case into camel case using user defined function

def Camel_case(string):
    list1 = []
    words = string.split()
    for word in words:
        list1.append(word.capitalize())
    string1 = ''.join(list1)
    return string1[0].lower() + string1[1:]
Camel_case('Python programming')

'pythonProgramming'

In [39]:
# Join function

str1 = 'python programming'
print(' '.join(list(reversed(str1.split()))).title())

Programming Python

In [1]:
# form a desirable string
str1 = 'Python-And-Data-Science'
list1 = str1.split('-',2)
str2 = ' '.join(list1)
str2

'Python And Data-Science'