## List [ ]
List is the collection of elements (Arrays).

__[Features of list]__
- List items are comma seprated.
- List is enclosed by square bracket [].
- List is ordered in nature.
- Lists are mutable data type.
- List is heterogeneous, can contain different data types.
- Duplicate elements are allowed in list.

In [1]:
list1 = ["mango","apple","banana"]
print(list1)
print(type(list1))

['mango', 'apple', 'banana']
<class 'list'>

In [2]:
list2 = [10,11,12,13,14,15]
print(list2)
print(type(list2))

[10, 11, 12, 13, 14, 15]
<class 'list'>

In [3]:
list2 = [10,11,12,13,14,14,15,15] # Duplicates are allowed in list but not in set
print(list2)
print(type(list2))

[10, 11, 12, 13, 14, 14, 15, 15]
<class 'list'>

__[List constructor]__

In [4]:
list3 =[] # empty list
print(type(list3))

<class 'list'>

In [5]:
list1 = ([])
print(type(list1))

<class 'list'>

In [6]:
list4 = list()
print(type(list4))

<class 'list'>

__[Ordered in nature]__ 
- Order of items in list will remain same (order of items will change in set), use of indexing is possible and therefore slicing is also possible in list. We can access elements from list using indexing.

In [7]:
list5 = [10,11,12,13,14]

# Use of indexing
print(list5[0])
print(list5[-1])

# Use of slicing
print(list5[0:3:1])

10
14
[10, 11, 12]

__[Heterogeneous in nature]__ 
- This means a list can contain any datatype of variable i.e. string, float, int, another list etc.

In [8]:
list6 = [10,11,3.4,5.6,"string","python,",[21,22,23,24]]
print(list6)

[10, 11, 3.4, 5.6, 'string', 'python,', [21, 22, 23, 24]]

In [9]:
# accessing elements from list of list using indexing

list6 = [10,11,3.4,5.6,"string","python,",[21,22,23,24]]
print(list6[6][2])

23

In [10]:
list6 = [10,11,3.4,5.6,"string","python,",[21,22,23,24,[31,32,33]]]
print(list6[6][4][1])

32

In [11]:
# List can contain int, float, str, list, list of list, tuple, dictionary, set.

list6 = [10,11,3.4,5.6,"string","python",[21,22,23,24,[31,32,33]],('python',1,True),{1:'python',2:'data science'}]
print(type(list6))
print(len(list6))
print(type(list6[7]))
print(type(list6[8]))
print(list6)

<class 'list'>
9
<class 'tuple'>
<class 'dict'>
[10, 11, 3.4, 5.6, 'string', 'python', [21, 22, 23, 24, [31, 32, 33]], ('python', 1, True), {1: 'python', 2: 'data science'}]

__[Mutable in nature]__ 
- This means we can add, remove, or modify elements from existing list without creating a new object.

__Inserting new element in list:__

In [12]:
list7 = [10,11,12,13,14,15]
print(list7)

list7[0] = "hello"
print(list7)

list7[-1] = "python"
print(list7)

[10, 11, 12, 13, 14, 15]
['hello', 11, 12, 13, 14, 15]
['hello', 11, 12, 13, 14, 'python']

In [13]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

__Range of index / Slicing:__

In [14]:
print(thislist[::])

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [15]:
print(thislist[::1])

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [16]:
print(thislist[:len(thislist):])

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [17]:
print(thislist[::-1]) # mango included (step size)

['mango', 'kiwi', 'orange', 'watermelon', 'blackcurrant', 'apple']

In [18]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"] # mango excluded
print(thislist[:-1])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon']

In [19]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"] # mango excluded
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

__Range in list:__

In [20]:
list(range(1,5)) # exclude 5

[1, 2, 3, 4]

In [21]:
list(range(4,19))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [22]:
list(range(0,21,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [23]:
for i in range(5):
    print(i)

0
1
2
3
4

__Use of membership operator:__ 
- To check whether the item exist in list or not

In [24]:
list7 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
if 'apple' in list7:
    print('Item exist in the list')
else:
    print('Item not found')

Item exist in the list

In [25]:
list7 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
if 'papaya' not in list7:
    print('you were right! Item is not present')
else:
    print('you were wrong! Item found!')

you were right! Item is not present

__Accessing list elements using for loop:__

In [26]:
city_names = ["Mumbai", "Pune", "Delhi", "Chennai","Banglore"]
for i in city_names:
    print(f"Hello : {i}")

Hello : Mumbai
Hello : Pune
Hello : Delhi
Hello : Chennai
Hello : Banglore

In [27]:
city_names = ["Mumbai", "Pune", "Delhi", "Chennai","Banglore"]

for i in city_names:
    print(i, i.upper())  # Mumbai >> MUMBAI
    print("**************")

Mumbai MUMBAI
**************
Pune PUNE
**************
Delhi DELHI
**************
Chennai CHENNAI
**************
Banglore BANGLORE
**************

__Enumarate & list:__

In [28]:
city_names = ["Mumbai", "Pune", "Delhi", "Chennai","Banglore"]
for index, item in enumerate(city_names):
    print(index, item)

0 Mumbai
1 Pune
2 Delhi
3 Chennai
4 Banglore

__[List functions]__

- append()
- extend()
- insert()
- remove()
- pop()
- clear()
- sort()
- reverse()
- index()
- count()
- copy()

__[Built-in list functions in list]__

- sum()
- min()
- max()
- sorted()
- reversed()

__1) length()__
- It returns length of the list.
- __`Syntax : len(list_name)`__

In [29]:
lst1 = ["apple", "banana", "cherry"]
print(len(lst1))

3

In [30]:
lst1 = ["apple", "banana", [1,2,3,4]]
print(len(lst1))

3

In [31]:
lst1 = ["apple", "banana", [1,2,3,4]]
print(len(lst1[2]))

4

__2) type()__
- It returns data type of variable/object
- __`Syntax : type(list_name)`__

In [32]:
lst1 = ["apple", "banana", "cherry"]
print(type(lst1))

<class 'list'>

In [33]:
lst1 = ["apple", "banana", "cherry"]
print(type(lst1[0]))

<class 'str'>

In [34]:
lst1 = ["apple", "banana", "cherry", [1,2,'python']]
print(type(lst1[3]))

<class 'list'>

In [35]:
lst1 = ["apple", "banana", "cherry", [1,2,'python']]
print(type(lst1[3][2]))

<class 'str'>

__3) .index()__
- It returns index number of an item from list.
- __`Syntax : list.index(item)`__

In [36]:
sub_names = ["Phy", "Che", "Maths", "Eng", "Bio"]
sub_names.index("Maths")

2

In [37]:
numbers = [3, 9.8, 6,7, 4.5, 20,30,40]
numbers.index(20)

5

__4) .count()__
- It returns count of an item in a list
- __`Syntax : list.count(item)`__

In [38]:
numbers = [3, 9.8, 6,7, 4.5, 20,30,40,6,6,6,6]
numbers.count(6)

5

In [39]:
sub_names = ["Phy", "Che", "Maths", "Eng", "Bio","Maths", "Maths","maths"]

sub_names.count("Maths")

3

__5) sum()__
- It returns sum of numbers in list
- __`Syntax : sum(list_name)`__

In [40]:
numbers = [10,30,46,78,8,12,80]
sum(numbers)

264

__6) min()__
- It returns minimum number in the list
- __`Syntax : min(list_name)`__

In [41]:
numbers = [10,30,46,78,8,12,80,-1,-67,20,56,4.5,9.8,-4.5,-8.9]
min(numbers)

-67

__7) max()__
- It returns maximum number in the list
- __`Syntax : max(list_name)`__

In [42]:
numbers = [10,30,46,78,8,12,80,-1,-67,20,56,4.5,9.8,-4.5,-8.9]
max(numbers)

80

__8) .append()__
- It will add an item to the end of the list
- __`Syntax : list_var.append(item)`__

In [43]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [44]:
thislist = ["apple", "banana", "cherry"] # you can append another list also
thislist.append([1,2,3,4])
print(thislist)

['apple', 'banana', 'cherry', [1, 2, 3, 4]]

In [45]:
numbers = []

numbers.append(100)
numbers.append(200)
numbers.append(300)
print(numbers)

[100, 200, 300]

__9) .insert()__
- Inserts an item to alist of specified index. 
- Difference between insert and append is that, append adds element at the end of the list. whereas insert adds element at specified index.
- __`Syntax : list1.insert(index, value)`__

In [46]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [47]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, [1,2,'python'])
print(thislist)

['apple', [1, 2, 'python'], 'banana', 'cherry']

__10) .remove()__
- It removes first occurance of an element or an element of list at a specified index. By default it removes first occurance of the element. If the element is not found in the list it will raise a ValueError.
- __`Syntax : list.remove(item)`__

In [48]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [49]:
thislist = ["apple", "banana", "cherry"]
thislist.remove(thislist[1])
print(thislist)

['apple', 'cherry']

In [50]:
sub_names = ["Phy", "Che", "Maths", "Eng", "Bio"]
value = "Bio"

if value in sub_names: #True
    sub_names.remove(value)
    print("Item deleted")
else:
    print("Item not present in the list")
    
print("Updated list", sub_names)

Item deleted
Updated list ['Phy', 'Che', 'Maths', 'Eng']

__11) .pop()__
- It removes an element of list at a specified index. 
- If you do not specify index then it will removes last element from the list
- If index is out of range it raise IndexError
- __`Syntax : list.pop(index)`__

In [51]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(2)
print(thislist)

['apple', 'banana']

In [52]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

__12) del function__
- It is used to delete an element or elements from list using indexing or slicing.
- __`Syntax : del list[index]`__

In [53]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

# del thislist # this will delet the entire list

['banana', 'cherry']

In [54]:
thislist = ["apple", "banana", "cherry"]
del thislist[0:2]
print(thislist)

['cherry']

__13) .clear()__
- This will empty list
- __`Syntax : list.clear()`__

In [55]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

__14) .sort()__
- It will sort items in list alphabetically or numers in ascending order by default
- __`Syntax : list.sort() >> Ascending order`__
- __`Syntax : list.sort(reverse = True) >> Descending order`__

In [56]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [57]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [58]:
# In a case if we want sorting in a reversed alphabetical order or in a descending order

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [59]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse=True)
print(thislist)

[100, 82, 65, 50, 23]

In [60]:
# sort() function is a case sensitive, resulting in all uppercase characters being sorted before lower case letters.

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [61]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(reverse=True)
print(thislist)

['cherry', 'banana', 'Orange', 'Kiwi']

In [62]:
# If we want sort() function as insensitive to case

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

__15) sorted()__
- It will return a new sorted list leaving the original list unchanged
- __`Syntax : sorted(list_name)`__

In [63]:
numbers = [10,30,46,78,8,12,80]
sorted(numbers)

[8, 10, 12, 30, 46, 78, 80]

In [64]:
numbers

[10, 30, 46, 78, 8, 12, 80]

In [65]:
numbers = [10,30,46,78,8,12,80]
print("Original list",numbers)
sorted_numbers = sorted(numbers)
print("Sorted list", sorted_numbers)

Original list [10, 30, 46, 78, 8, 12, 80]
Sorted list [8, 10, 12, 30, 46, 78, 80]

__16) .reverse()__
- It reverse the order of elements in a list.
- __`Syntax : list.reverse()`__

In [66]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [67]:
# Doubt: Yup! I made it.

str1 = 'omkar fadtare'
list1 = str1.split()
list1.reverse()
print(list1)
print(" ".join(list1))

#list2 = (list(reversed(list1))) # another method using reversed function
#print(" ".join(list2))

['fadtare', 'omkar']
fadtare omkar

__17) resversed()__
- It will return a new reversed list leaving the original list unchanged
- __`Syntax : reversed(list)`__

In [68]:
numbers = [10,30,46,78,8,12,80]
reversed_list = list(reversed(numbers))
reversed_list

[80, 12, 8, 78, 46, 30, 10]

In [69]:
numbers

[10, 30, 46, 78, 8, 12, 80]

In [70]:
# personal mock doubt: Yup! I made it.

str1 = 'Omkar Fadtare'
list1 = str1.split()
list2 = (list(reversed(list1)))
print(" ".join(list2))

Fadtare Omkar

__18) .extend()__
- Difference between append() and extend(): The append() method is used to add a single element to the end of a list. whereas, extend() method is used to add elements from an iterable (another list, tuple, or any other iterable) to the end of the original list.
- __`Syntax : list1_name.extend(list2_name/item)`__

In [71]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9]

l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
# .append() will add 'ethans' as a single element whereas extend will add characters of 'ethans' separately

l1 = [1,2,3,4,5] # here lies the difference between append and extend.
l1.extend("ethans")
print(l1)

[1, 2, 3, 4, 5, 'e', 't', 'h', 'a', 'n', 's']

In [73]:
l1 = [1,2,3,4,5]
l1.extend([1,2,3,4,5])
print(l1)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

__[Joining two lists]__

In [74]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [75]:
# using append function

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [76]:
# using extend function

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

__[Copying a list]__
- This will create a copy of an existing list

In [77]:
# Without using copy() function:
# When we try to change elements from copied list changes will be reverted to copied as well as original
# or elements from list or nested list, changes will revert
# in both orinal as well as in copied list

list1 = [10,20,30,40,50]
list2 = list1

print('Before changes')
print('list1 >> ',list1 )
print('list2 >> ',list2 )
print()
print('After changes')
list2[3] = 'data'
print('list1 >> ',list1 )
print('list2 >> ',list2 )

Before changes
list1 >>  [10, 20, 30, 40, 50]
list2 >>  [10, 20, 30, 40, 50]

After changes
list1 >>  [10, 20, 30, 'data', 50]
list2 >>  [10, 20, 30, 'data', 50]

In [78]:
list1 = [10,20,30,40,50,[23,32,13,43]]
list2 = list1

print('Before changes')
print('list1 >> ',list1 )
print('list2 >> ',list2 )
print()
print('After changes')
list2[3] = 'data'
print('list1 >> ',list1 )
print('list2 >> ',list2 )

Before changes
list1 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]
list2 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]

After changes
list1 >>  [10, 20, 30, 'data', 50, [23, 32, 13, 43]]
list2 >>  [10, 20, 30, 'data', 50, [23, 32, 13, 43]]

In [79]:
list1 = [10,20,30,40,50,[23,32,13,43]]
list2 = list1

print('Before changes')
print('list1 >> ',list1 )
print('list2 >> ',list2 )
print()
print('After changes')
list2[5] = 'data'
print('list1 >> ',list1 )
print('list2 >> ',list2 )

Before changes
list1 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]
list2 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]

After changes
list1 >>  [10, 20, 30, 40, 50, 'data']
list2 >>  [10, 20, 30, 40, 50, 'data']

In [80]:
list1 = [10,20,30,40,50,[23,32,13,43]]
list2 = list1

print('Before changes')
print('list1 >> ',list1 )
print('list2 >> ',list2 )
print()
print('After changes')
list2[5][1] = 'data'
print('list1 >> ',list1 )
print('list2 >> ',list2 )

Before changes
list1 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]
list2 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]

After changes
list1 >>  [10, 20, 30, 40, 50, [23, 'data', 13, 43]]
list2 >>  [10, 20, 30, 40, 50, [23, 'data', 13, 43]]

__[Shallow copy - Deep copy]__

__`Shallow copy:`__ 
- A shallow copy creates a new object, but it only copies the references to the original elements of the object.
- In simple words, Changes made to the elements using shallow copy will affect the original object. 
- Shallow copies can be created using the copy() function.

__`Deep copy:`__ 
- A deep copy creates a new object and recursively copies all the elements and sub-elements of the original object.
- Deep copy creates entirely independent copies of all elements, including nested elements, so any changes made to the deep copy will not affect the original object or any other copies.
- Deep copies can be created using the deepcopy() from copy module.

In [81]:
# Shallow copy: Using copy() function
# Changes will revert in orginal as well as in copied list
# when we try to change elements from nested list only using
# copy() function; Else changes will not revert

list1 = [10,20,30,40,50]
list2 = list1.copy()

print('Before changes')
print('list1 >> ',list1 )
print('list2 >> ',list2 )
print()
print('After changes')
list2[3] = 'data'
print('list1 >> ',list1 )
print('list2 >> ',list2 )

Before changes
list1 >>  [10, 20, 30, 40, 50]
list2 >>  [10, 20, 30, 40, 50]

After changes
list1 >>  [10, 20, 30, 40, 50]
list2 >>  [10, 20, 30, 'data', 50]

In [82]:
list1 = [10,20,30,40,50,[23,32,13,43]]
list2 = list1.copy()

print('Before changes')
print('list1 >> ',list1 )
print('list2 >> ',list2 )
print()
print('After changes')
list2[3] = 'data'
print('list1 >> ',list1 )
print('list2 >> ',list2 )

Before changes
list1 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]
list2 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]

After changes
list1 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]
list2 >>  [10, 20, 30, 'data', 50, [23, 32, 13, 43]]

In [83]:
list1 = [10,20,30,40,50,[23,32,13,43]]
list2 = list1.copy()

print('Before changes')
print('list1 >> ',list1 )
print('list2 >> ',list2 )
print()
print('After changes')
list2[5] = 'data'
print('list1 >> ',list1 )
print('list2 >> ',list2 )

Before changes
list1 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]
list2 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]

After changes
list1 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]
list2 >>  [10, 20, 30, 40, 50, 'data']

In [84]:
# Changes into nested list 

list1 = [10,20,30,40,50,[23,32,13,43]]
list2 = list1.copy()

print('Before changes')
print('list1 >> ',list1 )
print('list2 >> ',list2 )
print()
print('After changes')
list2[5][1] = 'data'
print('list1 >> ',list1 )
print('list2 >> ',list2 )

Before changes
list1 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]
list2 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]

After changes
list1 >>  [10, 20, 30, 40, 50, [23, 'data', 13, 43]]
list2 >>  [10, 20, 30, 40, 50, [23, 'data', 13, 43]]

In [85]:
# Deep copy: Using deepcopy() function from copy module
import copy

In [86]:
list1 = [10,20,30,40,50]
list2 = copy.deepcopy(list1)

print('Before changes')
print('list1 >> ',list1 )
print('list2 >> ',list2 )
print()
print('After changes')
list2[3] = 'data'
print('list1 >> ',list1 )
print('list2 >> ',list2 )

Before changes
list1 >>  [10, 20, 30, 40, 50]
list2 >>  [10, 20, 30, 40, 50]

After changes
list1 >>  [10, 20, 30, 40, 50]
list2 >>  [10, 20, 30, 'data', 50]

In [87]:
list1 = [10,20,30,40,50,[23,32,13,43]]
list2 = copy.deepcopy(list1)

print('Before changes')
print('list1 >> ',list1 )
print('list2 >> ',list2 )
print()
print('After changes')
list2[3] = 'data'
print('list1 >> ',list1 )
print('list2 >> ',list2 )

Before changes
list1 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]
list2 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]

After changes
list1 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]
list2 >>  [10, 20, 30, 'data', 50, [23, 32, 13, 43]]

In [88]:
list1 = [10,20,30,40,50,[23,32,13,43]]
list2 = copy.deepcopy(list1)

print('Before changes')
print('list1 >> ',list1 )
print('list2 >> ',list2 )
print()
print('After changes')
list2[5] = 'data'
print('list1 >> ',list1 )
print('list2 >> ',list2 )

Before changes
list1 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]
list2 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]

After changes
list1 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]
list2 >>  [10, 20, 30, 40, 50, 'data']

In [89]:
list1 = [10,20,30,40,50,[23,32,13,43]]
list2 = copy.deepcopy(list1)

print('Before changes')
print('list1 >> ',list1 )
print('list2 >> ',list2 )
print()
print('After changes')
list2[5][1] = 'data'
print('list1 >> ',list1 )
print('list2 >> ',list2 )

Before changes
list1 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]
list2 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]

After changes
list1 >>  [10, 20, 30, 40, 50, [23, 32, 13, 43]]
list2 >>  [10, 20, 30, 40, 50, [23, 'data', 13, 43]]

__[List comprehension]__
- It is a powerful way to create lists in Python.
- It allows you to create a new list by specifying an expression and an optional condition.
- List comprehension is often preferred over traditional for loops when you want to generate a list based on some criteria or condition. 
- `expression:` The expression to be evaluated for each item in the iterable. This is the value that will be included in the new list.
- `item:` A variable that represents each element in the iterable (e.g., a list, tuple, or string).
- `iterable:` The source from which the elements are taken.
- `condition (optional):` An optional condition that filters the elements from the iterable. 
- __`Syntax: new_list = [expression for item in iterable if condition]`__

In [97]:
#  Generating a list of squares of numbers from 1 to 5.

squares = [x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

In [99]:
# Filtering even numbers from a given list

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [102]:
# Combining elements from two lists. (Cartesian product)

list1 = [1, 2, 3]
list2 = ['A', 'B', 'C']
combined_list = [(x, y) for x in list1 for y in list2]
print(combined_list)

[(1, 'A'), (1, 'B'), (1, 'C'), (2, 'A'), (2, 'B'), (2, 'C'), (3, 'A'), (3, 'B'), (3, 'C')]

In [101]:
# Cartesian product: Number of possibilities

list1 = [1,2,3,4]
list2 = [5,6,7,8]
list3 = [(a,b) for a in list1 for b in list2]
print(f'There can be {len(list3)} possibilities.')
list3

There can be 16 possibilities.

[(1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8)]

In [90]:
# Basic way- Even Odd

even_list = []
odd_list = []
for i in range(1,11):
    if (i%2 == 0):
        even_list.append(i)
    else:
        odd_list.append(i)
        
print('even_list',even_list)
print('odd_list',odd_list)

even_list [2, 4, 6, 8, 10]
odd_list [1, 3, 5, 7, 9]

In [91]:
# Advanced way- Even Odd; using list comprehension

even = []
odd = []
list1 = [(i,even.append(i) if i%2 == 0 else odd.append(i))for i in range(1,11)]
print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [92]:
# Even numbers from a given list

list1 = [2,3,4,5,6,7,8,9]

even_numbers = [num for num in list1 if num % 2 == 0]
odd_numbers = [num for num in list1 if num % 2 != 0]
print(even_numbers)
print(odd_numbers)

[2, 4, 6, 8]
[3, 5, 7, 9]

In [93]:
# Squares of even numbers from a list

list1 = [4,1,3,6,7,8,10,11,34,36,20,55,77,99,100]

even = [ num**2  for num in  list1   if num%2 == 0 and num<15] 
even

[16, 36, 64, 100]

In [94]:
# Even Odd squares

even_squares = []
odd_squares = []
list1 = [even_squares.append(i**2) if i%2==0 else odd_squares.append(i**2) for i in range(1,21)]
print(even_squares)
print(odd_squares)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]
[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]