## Tuple ( )
Tuple is a group of elements. It is used to store multiple items in a single variable.

__[Features of Tuple]__
- Tuple items are comma  seprated.
- Tuple is enclosed by parenthesis ().
- Tuple is ordered in nature.
- Tuples are immutable data type.
- Tuple is heterogeneous, can contain different data types.
- Duplicate values are allowed in tuple.

__Why tuples are faster than list?__
- Tuples are faster than lists because tuples are immutable, which means they cannot be changed after they are created.
- When tuple is created, Python knows that its elements will not change, so it can allocate memory for the entire tuple in a single block. 
- This means that accessing elements in a tuple is a straight-forward process because their positions in memory are fixed.
- On the other hand, Lists are designed as dynamic arrays, and their memory needs to be allocated and reallocated as elements are added or removed. This makes accessing elements in lists slightly slower.

__[Tuple constructor]__

In [1]:
tup = (1,2,3,4,5)
print(type(tup))

<class 'tuple'>

In [2]:
tup1 =("hello","hi","namste")
print(type(tup1))
print(tup1)

<class 'tuple'>
('hello', 'hi', 'namste')

In [3]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry") # Duplicates are allowed in tuple
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [4]:
# Difference between list and tuple containing only one element

# List
list1 = []
print(type(list1))
print()

list1 = [1]
print(type(list1))
print()

# Tuple
tup1 = ()
print(type(tup1))
print()

tup1 = (1)
print(type(tup1))
print()

tup1 = tuple('python')
print(type(tup1))
print()

# tup1 = tuple(1) # This wont work since integer is not iterable
# print(type(tup1))
# print()

tup1 = (1,) # Comma makes the difference
print(type(tup1))
print()

t9 =([]) # Doubt
print(type(t9))
print()

t9 =([],)
print(type(t9))
print()

tup = 1,2,3,4
print(type(tup))
print(tup)

<class 'list'>

<class 'list'>

<class 'tuple'>

<class 'int'>

<class 'tuple'>

<class 'tuple'>

<class 'list'>

<class 'tuple'>

<class 'tuple'>
(1, 2, 3, 4)

__[Ordered in nature]__ 
- Use of indexing is possible and therefore slicing is also possible.

In [5]:
# Indexing and range functions works same as list data type

t7 = (1,2,3,4,5,6)
print(t7[0])
print(t7[4])

1
5

In [6]:
# Slicing

t7 = (1,2,3,4,5,6)
print(t7[0:6:1])

(1, 2, 3, 4, 5, 6)

__[Heterogeneous in nature]__
- It means a tuple can contain any datatype of variable i.e. string, float, int, list, list of list, tuple, dictionary.

In [7]:
t7 = (1,'python',3,True,5,6)
print(t7[0:6:1])

(1, 'python', 3, True, 5, 6)

In [8]:
tuple1 = ("abc", 34, True, 40, "male")
print(type(tuple1))
print(tuple1)

<class 'tuple'>
('abc', 34, True, 40, 'male')

In [9]:
tup6 = (12,12.3,'Python',[1,2,34],(12,'Data'),{'Fruit':'Mango'},{1,2,3})
print(type(tup6))

<class 'tuple'>

In [10]:
print(len(tup6))

7

In [11]:
print(type(tup6[4]))

<class 'tuple'>

In [12]:
print(type(tup6[5]))

<class 'dict'>

In [13]:
print(tup6)

(12, 12.3, 'Python', [1, 2, 34], (12, 'Data'), {'Fruit': 'Mango'}, {1, 2, 3})

In [14]:
tup6 = (10,11,3.4,5.6,"string","python",[21,22,23,24,(31,32,33)],['python',1,True],{1:'python',2:'data science'})
print(tup6[8].items())

dict_items([(1, 'python'), (2, 'data science')])

In [15]:
print(tup6[8].keys())

dict_keys([1, 2])

In [16]:
print(tup6[8].values())

dict_values(['python', 'data science'])

__[Immutable in nature]__ 
- Tuple data type is not mutable, we can not change exixting elements from tuple. That means the elements inside tuple can not be altered.

__`**Trick`__
- Since, Tuples are immutable, the elements inside tuple can not be altered or added or removed, once the tuple is created. But it can be done by changing the data type of tuple to a list, altering the elements, and again changing the list data type back into a tuple.

In [17]:
# Adding elements to tuple

tuple1 = ("apple", "banana", "cherry")
print(f'Before making changes: {tuple1}')
y = list(tuple1)
y.append("orange")
tuple1 = tuple(y)
print(f'After making changes: {tuple1}')

Before making changes: ('apple', 'banana', 'cherry')
After making changes: ('apple', 'banana', 'cherry', 'orange')

In [18]:
# Removing elements from tuple

tuple1 = ("apple", "banana", "cherry")
print(f'Before making changes: {tuple1}')
y = list(tuple1)
y.remove("apple")
tuple1 = tuple(y)
print(f'After making changes: {tuple1}')

Before making changes: ('apple', 'banana', 'cherry')
After making changes: ('banana', 'cherry')

__Use of membership operator:__ 
- To check whether the item exist in tuple or not

In [19]:
tup7 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
if 'apple' in tup7:
    print('Item exist in the tuple')
else:
    print('Item not found')

Item exist in the tuple

In [20]:
tup8 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
if 'papaya' not in tup8:
    print('you were right! Item is not present')
else:
    print('you were wrong! Item found!')

you were right! Item is not present

__Indexing and slicing in tuple:__

In [21]:
tuple1 = (10,20,30,15,25,35,50,55)

print(tuple1[0])
print(tuple1[2:5])
print(tuple1[1:len(tuple1):2])
print(tuple1[::-1])
print(tuple1[len(tuple1):-4:-1])

10
(30, 15, 25)
(20, 15, 35, 55)
(55, 50, 35, 25, 15, 30, 20, 10)
(55, 50, 35)

__Tuple operations:__

In [22]:
city_names = ("Mumbai", 'PUNE', 'Delhi')
state_names = ('Maharashtra','Gujarat')

city_names + state_names

('Mumbai', 'PUNE', 'Delhi', 'Maharashtra', 'Gujarat')

In [23]:
city_names = ("Mumbai", 'PUNE', 'Delhi')
state_names = ('Maharashtra','Gujarat')

city_names * 2

('Mumbai', 'PUNE', 'Delhi', 'Mumbai', 'PUNE', 'Delhi')

In [24]:
my_tuple = (1, 2, 3, 4, 5)

# Removing element at index 2

new_tuple = my_tuple[:2] + my_tuple[3:]
print(new_tuple)

(1, 2, 4, 5)

In [25]:
my_tuple = (1, 2, 3, 4, 5)

# Remove element with value 4

new_tuple = tuple(x for x in my_tuple if x != 4)
print(new_tuple)

(1, 2, 3, 5)

__Joining two tuples:__

In [26]:
tup1 = ('omkar','python','data','science')
tup2 = (1,2,3,4,5)

tup1 += tup2
print(tup1)

('omkar', 'python', 'data', 'science', 1, 2, 3, 4, 5)

__Accessing items using for loop:__

In [27]:
tuple1 = ('Mumbai', 'PUNE', 'Delhi', 'Mumbai', 'PUNE', 'Delhi')

for item in tuple1:
    print(item, end =", ")

Mumbai, PUNE, Delhi, Mumbai, PUNE, Delhi,

In [28]:
# Enumerate

tuple1 = ('Mumbai', 'PUNE', 'Delhi', 'Mumbai', 'PUNE', 'Delhi')

for index, item in enumerate(tuple1):
    print(index,item)

0 Mumbai
1 PUNE
2 Delhi
3 Mumbai
4 PUNE
5 Delhi

__Unpacking a tuple:__
- It is process of assigning individual values from a tuple to separate variables

In [29]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

__Asterisk* (unpacking):__ 
- While unpacking a tuple, If the number of variables is less than the number of values, you can add * to the variable name and the values will be assigned to the variable as a list.

In [30]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [31]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, *yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

__[Tuple functions]__

__1) length()__
- It returns length of the tuple

In [32]:
thistuple = ("apple", 2.4, 6, True, "cherry")
print(len(thistuple))

5

__2) type()__
- It returns data type of tuple or the elements of tuple

In [33]:
tup1 = ("apple", "banana", "cherry")
print(type(tup1))

<class 'tuple'>

__3) .index()__
- It returns index number of an item
- __`Syntax : tuple_name.index(item)`__

In [34]:
sub_names = ("Phy", "Che", "Maths", "Eng", "Bio")
sub_names.index("Maths")

2

__4) .count()__
- It returns the number of times a specified value occurs in a tuple
- __`Syntax : tuple_name.count(item)`__

In [35]:
numbers = (3, 9.8, 6,7, 4.5, 20,30,40,6,6,6,6)
numbers.count(6)

5

__5) sum()__
- It returns sum of numbers in tuple
- __`Syntax : sum(tuple_name)`__

In [36]:
numbers = (10,30,46,78,8,12,80)
sum(numbers)

264

__6) min()__
- It returns minimum number in the tuple
- __`Syntax : min(tuple_name)`__

In [37]:
numbers = (10,30,46,78,8,12,80,-1,-67,20,56,4.5,9.8,-4.5,-8.9)
min(numbers)

-67

__7) max()__
- It returns maximum number in the tuple
- __`Syntax : max(tuple_name)`__

In [38]:
numbers = (10,30,46,78,8,12,80,-1,-67,20,56,4.5,9.8,-4.5,-8.9)
max(numbers)

80

In [39]:
# There is no del function in tuple
# delete function can not be used to delete particular item from tuple, but it can be used to delete complete tuple

thistuple = ("apple", "banana", "cherry")
del thistuple
# print(thistuple)