## Set { }
Set is a group of elements. It is used to store multiple datatype items in a single variable.

__[Features of set]__
- Set items are comma seprated.
- Set is enclosed by curly brackets.
- Set is unordered in nature.
- Set is a mutable data type, but we can not insert elements in set by indexing.
- Set is a partially heterogeneous, that means only tuples are allowed inside set. Dictionary, list datatypes are not allowed in set, since those are hashable/mutable data types.
- In simple words, hashable are those data types which are immutable in nature.
- Duplicate values are not allowed in sets.
- Once a set is created, we cannot change its elements, but you can add new elements.

__[Set constructor]__

In [1]:
var = {1,2,3,4,5,6}
print(type(var))

<class 'set'>

In [2]:
var = {1,2,3,4,5,6,6,6,6,1,2,2,33} # Duplicates are not allowed
print(type(var))
print(var)

<class 'set'>
{1, 2, 3, 4, 5, 6, 33}

In [3]:
# Empty curly bracket: Data type of an empty curly bracket is not set, It is a dictionary

var = {}
print(type(var))

<class 'dict'>

In [4]:
# Curly bracket consist of only one element is a set data type.

var = {2}
print(type(var))

<class 'set'>

In [5]:
var = set()
print(type(var))

<class 'set'>

In [6]:
# Tricky >>

set1 = set([1,2,3,4,5])
print(type(set1))
print(set1)

<class 'set'>
{1, 2, 3, 4, 5}

__[Not ordered in nature]__
- Set data type is not ordered in a nature, since index number and ordering of an element is not fixed.

In [7]:
set1 = {2,3,'a',5,1,'b',10,20,15,3.14,5.67}  # Unordered
set1

{1, 10, 15, 2, 20, 3, 3.14, 5, 5.67, 'a', 'b'}

In [8]:
set1 = {2,3,4,56,2,3,7,8.9,4.5,7.8, 'a', 'python',4.8}  # Duplicates are not allowed
print(set1, len(set1))

{2, 3, 4.5, 4.8, 4, 7, 8.9, 7.8, 'a', 'python', 56} 11

In [9]:
# Set datatype treats True, 1 as same and False, 0 as same

# True >> 1
# False >> 0

In [10]:
list1 = [2,3,"a",5.1,True,False,True,False,False]
print(len(list1))
print(list1)

9
[2, 3, 'a', 5.1, True, False, True, False, False]

In [11]:
set1 = {2,3,"a",5.1,True,False,True,False,False, 1,0,1,0,1,1,0,0}
print(len(set1))
print(set1)

6
{False, True, 2, 3, 'a', 5.1}

__[Partially Heterogeneous in nature]__ 
- Set is a partially heterogeneous, since dictionary and list datatypes are not allowed in set.

In [12]:
# set, dictionary and list datatypes are not allowed (since those are mutable data types)

set1 = {1,2,3.3,5.6,'python','data science',True,False,(1,2,3,3.4,5.6,'python','data science',True, False)}
print(len(set1))
print(set1)

8
{False, 1, 2, 3.3, 5.6, 'data science', 'python', (1, 2, 3, 3.4, 5.6, 'python', 'data science', True, False)}

__[Immutable in nature]__
- We can not apply indexing and slicing in set data type

In [13]:
# We can not access items from a set, So how do we do that?

set1 = {'omkar','python'}
for items in set1:
    print('Item is: ',items)

Item is:  omkar
Item is:  python

In [14]:
# Converting set to list so as to access elements from set

my_set = {1, 2, 3, 4, 5}

my_list = list(my_set)
print(my_list[0])

my_tuple = tuple(my_set)
print(my_tuple[2])

1
3

__Use of membership operator:__ 
- To check whether the item present in set or not

In [15]:
set1 = {"apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"}
if 'apple' in set1:
    print('Item exist in the set1')
else:
    print('Item not found')

Item exist in the set1

In [16]:
set1 = {"apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"}
if 'papaya' not in set1:
    print('you were right! Item is not present')
else:
    print('you were wrong! Item found!')

you were right! Item is not present

In [17]:
my_set = {1, 2, 3, 4, 5}

print(3 in my_set)
print(6 in my_set)

True
False

__[Set functions]__

- add()
- update()
- union()
- remove()
- discard()
- pop()
- clear()
- intersection()
- intersection_update()
- difference()
- difference_update()
- symmetric_difference()
- symmetric_difference_update()
- issubset()
- issuperset()
- isdisjoint()
- copy()

__1) .add()__
- It is used to add only one item in set
- __`Syntax : set_name.add(item)`__

In [18]:
set1 = {3,4,5,6,7}
set1.add(1000)
print(set1)

{3, 4, 5, 6, 7, 1000}

In [19]:
set1 = {'phy', 'che', 'bio', 'eng', 'maths'}
set1.add('history')
print(set1)

{'history', 'eng', 'bio', 'maths', 'che', 'phy'}

__2) .update()__
- It is used to add items from another set into the current set
- __`Syntax : set_name1.update(set_name2)`__

In [20]:
sub_names1 = {'phy','che', 'maths'}
sub_names2 = {'bio','eng'}


print('Subject names 1 :', sub_names1)
print('Subject names 2 :', sub_names2)

sub_names1.update(sub_names2)

print('Subject names 1 :', sub_names1)
print('Subject names 2 :', sub_names2)

Subject names 1 : {'che', 'maths', 'phy'}
Subject names 2 : {'bio', 'eng'}
Subject names 1 : {'bio', 'maths', 'eng', 'che', 'phy'}
Subject names 2 : {'bio', 'eng'}

In [21]:
set1 = {10,20,30,40,50,60}
set2 = {5,15,25,35}

print('Set1 :', set1)
print('Set2 :', set2)

print()

print('Set1 length:', len(set1))
print('Set2 length:',len(set2))

print()

set1.update(set2)

print('Set1 :', set1)
print('Set2 :', set2)

print()

print('Set1 length:', len(set1))
print('Set2 length:',len(set2))

Set1 : {50, 20, 40, 10, 60, 30}
Set2 : {25, 35, 5, 15}

Set1 length: 6
Set2 length: 4

Set1 : {35, 5, 40, 10, 15, 50, 20, 25, 60, 30}
Set2 : {25, 35, 5, 15}

Set1 length: 10
Set2 length: 4

In [22]:
# It only update existing set and does not return a new set

set1 = {1,2,3,4,5}
set2 = {4,5,6,6,7,8}

set3 = set1.update(set2)

print("set1 >>", set1)
print("set2 >>", set2)
print("set3 >>", set3)

set1 >> {1, 2, 3, 4, 5, 6, 7, 8}
set2 >> {4, 5, 6, 7, 8}
set3 >> None

__3) .union()__
- It returns a new set containing a union of set
- __`Syntax : set_name1.union(set_name2)`__

In [23]:
# Union of two sets

set1 = {1,2,3,4,5}
set2 = {4,5,6,6,7,8}

set3 = set1.union(set2)

print("set1 >> ",set1)
print("set2 >> ",set2)
print("set3 >> ",set3)

set1 >>  {1, 2, 3, 4, 5}
set2 >>  {4, 5, 6, 7, 8}
set3 >>  {1, 2, 3, 4, 5, 6, 7, 8}

In [24]:
# Union of a set and list is also a set

set1 = {1,2,3,4,5,6} # set
list1 = [4,5,6,6,7,8] # list

print(type(list1))

set2 = set1.union(list1)

print("set1 >>", set1)
print("list1 >>", list1)
print("set2 >>", set2)

<class 'list'>
set1 >> {1, 2, 3, 4, 5, 6}
list1 >> [4, 5, 6, 6, 7, 8]
set2 >> {1, 2, 3, 4, 5, 6, 7, 8}

__4) .remove()__
- It removes the specified element, It will give you an error if specified item is not present in the set
- __`Syntax : set.remove(item)`__

In [25]:
sub_names = {'eng','phy', 'maths', 'bio', 'che'}
sub_names.remove('phy')
sub_names

{'bio', 'che', 'eng', 'maths'}

In [26]:
set1 = {1,2,3,4,5,3}
value = 2

if value in set1:
    set1.remove(value)
    
print(set1, len(set1))

{1, 3, 4, 5} 4

__5) .discard()__
- It removes the specified item from the set
- __`Syntax : set.discard(item)`__

In [27]:
sub_names = {'eng','phy', 'maths', 'bio', 'che'} # 5
sub_names.discard('phy')
print(sub_names, len(sub_names))

{'eng', 'bio', 'maths', 'che'} 4

__**Difference between remove() and discard()__
- The main difference between remove() and discard() is how they handle the case when the specified element is not present in the set. remove() raises a KeyError, while discard() simply ignores the non-existent element and does not raise any error.

__6) .pop()__
- It removes a random item from the set
- __`Syntax : set.pop()`__

In [28]:
sub_names = {'eng','phy', 'maths', 'bio', 'che'} # 5
print('Original set',sub_names )

sub_names.pop()
print(sub_names, len(sub_names))

Original set {'eng', 'bio', 'maths', 'che', 'phy'}
{'bio', 'maths', 'che', 'phy'} 4

In [29]:
set1 = {1,2,3,4,5,3}
set1.pop()
print(set1)
set1.pop()
print(set1)

{2, 3, 4, 5}
{3, 4, 5}

__7).clear()__
- It clears the set
- __`Syntax : set.clear()`__

In [30]:
set1 = {"python",'data','science',1,2,3,4,5,3}
set1.clear()
print("Set1",set1)

Set1 set()

__8) .intersection()__
- It return a new set z that consist common items from both set x and y.
- __`set.intersection(set1, set2 ... etc)`__

In [31]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [32]:
set1 = {1,2,4,6,8}
set2 = {3,4,5,6,7,8}

intersected_items = set1.intersection(set2)
print(intersected_items)

{8, 4, 6}

__9) .intersection_update()__
- It updates the existing set1 with only common items from both seta and set2, without changing set2.
- The intersection_update() method is different from the intersection() method, because the intersection() method returns a new set, with common items. Whereas, intersection_update() method removes the uncommon items and update the original set.
- __`Syntax : set.intersection_update(set1, set2 ... etc)`__

In [33]:
# Update

city_names1 = {'Pune','Mumbai',"Delhi"}
city_names2 = {"Pune",'Banglore',"Chennai"}

city_names1.update(city_names2)
city_names1

{'Banglore', 'Chennai', 'Delhi', 'Mumbai', 'Pune'}

In [34]:
# Intersection

city_names1 = {'Pune','Mumbai',"Delhi"}
city_names2 = {"Pune",'Banglore',"Chennai"}

result = city_names1.intersection(city_names2)
result

{'Pune'}

In [35]:
# Intersection_update

city_names1 = {'Pune','Mumbai',"Delhi"}
city_names2 = {"Pune",'Banglore',"Chennai"}

print('Original City names 1', city_names1)
print('original City names 2', city_names2)

city_names1.intersection_update(city_names2)

print('City names 1', city_names1)
print('City names 2', city_names2)

Original City names 1 {'Delhi', 'Mumbai', 'Pune'}
original City names 2 {'Chennai', 'Pune', 'Banglore'}
City names 1 {'Pune'}
City names 2 {'Chennai', 'Pune', 'Banglore'}

In [36]:
set1 = {1,2,3,4,5,6}
set2 = {3,4,5,8,9}
# 3, 4, 5
set1.intersection_update(set2)

print('Set1:', set1)

Set1: {3, 4, 5}

__10) .difference()__
- Computes the difference between two sets and returns a new set containing elements that are present in the first set but not in the second set.
- In simple words, it will only includes elements that are unique to the first set and not present in the second set.
- __`Syntax : set.difference(set)`__

In [37]:
set1 = {'Pune',"Mumbai",'Delhi','Kolkata','Hyderabad'}
set2 = {"Pune",'Banglore','Chennai','Mumbai'}

result = set1.difference(set2)
result

{'Delhi', 'Hyderabad', 'Kolkata'}

In [38]:
set1 = {'Pune',"Mumbai",'Delhi','Kolkata','Hyderabad'}
set2 = {"Pune",'Banglore','Chennai','Mumbai'}

result = set2.difference(set1)
result

{'Banglore', 'Chennai'}

In [39]:
# Tricky

list1 = [3,4,5,6,7,8]
list2 = [5,6,7,8,10,20] # 10,20

result = set(list2).difference(list1)
result

{10, 20}

In [40]:
# without using  difference function

list1 = [3,4,5,6,7,8]
list2 = [5,6,7,8,10,20] #10,20

result = []
for items in list2:
    if items not in list1:
        result.append(items)
result

[10, 20]

In [41]:
list1 = [3,4,5,6,7,8]
list2 = [5,6,7,8,10,20] 

result = set(list1).difference(list2)
result
list(result)

[3, 4]

__11) .difference_update()__
- It modifies the original set by removing elements that are also present in one or more other sets. It does not return new set.
- __`Syntax : set.difference_update(set1, set2 ... etc)`__

In [42]:
set1 = {'Pune',"Mumbai",'Delhi','Kolkata','Hyderabad'} # 'Delhi', 'Kolkata', 'Hyderabad'
set2 = {"Pune",'Banglore','Chennai','Mumbai'}

set1.difference_update(set2)
set1

{'Delhi', 'Hyderabad', 'Kolkata'}

In [43]:
set1 = {1,2,3,4,5,6,7,8}
set2 = {3,6,1,10,20,30}
set3 = {11,2,22,1,33,3} #11,22,33

set3.difference_update(set1,set2)
print('Set1', set1)
print('Set2', set2)
print('Set3', set3)

Set1 {1, 2, 3, 4, 5, 6, 7, 8}
Set2 {1, 3, 20, 6, 10, 30}
Set3 {33, 22, 11}

__12) .symmetric_difference()__
- It returns a new set containing elements that are unique to both sets.
- __`Syntax : set.symmetric_difference(set)`__

In [44]:
set1 = {'Pune',"Mumbai",'Delhi','Kolkata','Hyderabad'} #'Delhi','Kolkata',Hyderabad
set2 = {"Pune",'Banglore','Chennai','Mumbai'} #'Banglore', 'Chennai'

result = set1.symmetric_difference(set2)
print('Set1', set1)
print('Set2', set2)
print('Result', result)

Set1 {'Mumbai', 'Pune', 'Kolkata', 'Delhi', 'Hyderabad'}
Set2 {'Chennai', 'Mumbai', 'Pune', 'Banglore'}
Result {'Kolkata', 'Banglore', 'Chennai', 'Delhi', 'Hyderabad'}

In [45]:
set1 = {'Pune',"Mumbai",'Delhi','Kolkata','Hyderabad'} #'Delhi','Kolkata',Hyderabad
set2 = {"Pune",'Banglore','Chennai','Mumbai'} #'Banglore', 'Chennai'

result = set2.symmetric_difference(set1)
print('Set1', set1)
print('Set2', set2)
print('Result', result)

Set1 {'Mumbai', 'Pune', 'Kolkata', 'Delhi', 'Hyderabad'}
Set2 {'Chennai', 'Mumbai', 'Pune', 'Banglore'}
Result {'Kolkata', 'Banglore', 'Chennai', 'Delhi', 'Hyderabad'}

__13) .symmetric_difference_update()__
- It modifies the original set by keeping only elements that are unique to either of the sets.
- __`Syntax : set.symmetric_difference_update(set)`__

In [46]:
set1 = {'Pune',"Mumbai",'Delhi','Kolkata','Hyderabad'} #'Delhi','Kolkata',Hyderabad
set2 = {"Pune",'Banglore','Chennai','Mumbai'} #'Banglore', 'Chennai'

set1.symmetric_difference_update(set2)
set1

{'Banglore', 'Chennai', 'Delhi', 'Hyderabad', 'Kolkata'}

__14) .issubset()__
- It is used to check whether one set is a subset of another set. 
- A set A is considered a subset of set B if all elements of set A are also present in set B.
- __`Syntax : set.issubset(set)`__

In [47]:
x = {"a", "b", "c"} # subset
y = {"f", "e", "d", "c", "b", "a"} # Superset

z = x.issubset(y)

print(z)

True

In [48]:
set1 = {3,4,5,6,7,8}
set2 = {5,6,7}

set2.issubset(set1)

True

In [49]:
set1 = {'Pune',"Mumbai",'Delhi','Kolkata','Hyderabad'}
set2 = {'Pune','Banglore','Chennai','Mumbai'}

set2.issubset(set1)

False

__15) .issuperset()__
- It is used to check whether one set is a superset of another set. 
- A set A is considered a superset of set B if all elements of set B are also present in set A.
- __`Syntax : set.issuperset(set)`__

In [50]:
set1 = {3,4,5,6,7,8}
set2 = {5,6,7}

set1.issuperset(set2)

True

In [51]:
set1 = {3,4,5,6,7,8}
set2 = {5,6,7,10}

set1.issuperset(set2)

False

In [52]:
set1 = {'Pune',"Mumbai",'Delhi','Kolkata','Hyderabad'}
set2 = {'Pune','Banglore','Chennai','Mumbai'}

set1.issuperset(set2)

False

__16) .isdisjoint()__
- It is used to check whether two sets have no elements in common
- __`Sytnax : set.isdisjoint(set)`__

In [53]:
set1 = {'Pune',"Mumbai",'Delhi','Kolkata','Hyderabad'}
set2 = {'Banglore','Chennai'}

set1.isdisjoint(set2)

True

In [54]:
set1 = {'Pune',"Mumbai",'Delhi','Kolkata','Hyderabad'}
set2 = {'Pune','Mumbai'}

set1.isdisjoint(set2)

False

__17) .copy()__
- It returns a copy of a set
- __`Syntax : set2 = set1.copy()`__

In [55]:
fruits = {"apple", "banana", "cherry"}
x = fruits.copy()
print(x)

{'apple', 'banana', 'cherry'}

__[FrozenSet]__
- Frozen set is just an immutable version of a Python set object. While elements of a set can be modified at any time, elements of the frozen set remain the same after creation.
- Frozenset is unordered in nature
- Frozenset is immutable in nature
- Duplicates are not allowed in frozenset

In [56]:
fs1 = frozenset({2,3,4,5,6,7})
print(fs1)

frozenset({2, 3, 4, 5, 6, 7})

__[FrozenSet functions]__

__1) .union()__

In [57]:
fs1 = frozenset({3,4,5,6,5})
fs2 = frozenset({5,6,6,7,8})

fs3 = fs1.union(fs2)
print('FS1 >>',fs1)
print('FS2 >>',fs2)
print('FS3 >>',fs3)

FS1 >> frozenset({3, 4, 5, 6})
FS2 >> frozenset({8, 5, 6, 7})
FS3 >> frozenset({3, 4, 5, 6, 7, 8})

__2) .difference()__

In [58]:
fs1 = frozenset({3,4,5,6,5}) # 3,4
fs2 = frozenset({5,6,6,7,8})


fs3 = fs1.difference(fs2)
fs3

frozenset({3, 4})

__3) .symmetric_difference()__

In [59]:
fs1 = frozenset({3,4,5,6,5}) # 3,4
fs2 = frozenset({5,6,6,7,8}) # 7,8


fs3 = fs1.symmetric_difference(fs2)
fs3

frozenset({3, 4, 7, 8})

__4) .isubset()__

In [60]:
fs1 = frozenset({3,4,5,6,5})
print(fs1)
fs2 = frozenset({5,6,6})
print(fs2)

result = fs2.issubset(fs1)
result

frozenset({3, 4, 5, 6})
frozenset({5, 6})

True

In [61]:
fs1 = frozenset({3,4,5,6,5})
print(fs1)
fs2 = frozenset({5,6,6,7})
print(fs2)

result = fs2.issubset(fs1)
result

frozenset({3, 4, 5, 6})
frozenset({5, 6, 7})

False

__5) .isuperset()__

In [62]:
fs1 = frozenset({2,3,4,5,6})
fs2 = frozenset({2,4,5})

result = fs1.issuperset(fs2)
result

True

In [63]:
fs1 = frozenset({2,3,4,5,6})
fs2 = frozenset({2,4,5,10})

result = fs1.issuperset(fs2)
result

False

__6) .isdisjoint()__

In [64]:
fs1 = frozenset({2,3,4,5})
fs2 = frozenset({6,7,8})

result = fs1.isdisjoint(fs2)
result

True

In [65]:
fs1 = frozenset({2,3,4,5})
fs2 = frozenset({6,7,8,5})

result = fs1.isdisjoint(fs2)
result

False