## Dictionary {key:value}
Dictionary is a collection of items, having key and value. They are used to store data values in __`key:value`__ pairs.

__[Features of dictionay]__
- Dictionary is comma seprated.
- Dictionary is enclosed by curly brakets.
- From python version 3.7, dictionaries are ordered. In python 3.6 and earlier, dictionaries are unordered in nature.
- Dictionary is a mutable datatype.
- Duplicate keys are not allowed in dictionary, but dictionary can have duplicate values.
- We can not access items by using index, but we can access keys using index.
- key & values in dictionary item can have:
- keys >> Immutable Datatypes (int, float, string, tuple, frozenset)
- values >> Any Datatype (int,float,string,list,tuple,set,dict, etc)

__[Dictionary constructor]__

In [1]:
dict1 = {} # Empty curly bracket is dictionary
print(type(dict1))

<class 'dict'>

In [2]:
dict1 = dict()
print(type(dict1))

<class 'dict'>

In [3]:
dict1 = {'a' : [10,20,30,40], 'b' : 200}
type(dict1)

dict

In [4]:
dict1 = {'a' : [10,20,30,40], 3.5 : 200}
type(dict1)

dict

In [5]:
dict1 = {1 : [10,20,30,40], (3.5,1,2,3,4) : 200}
type(dict1)

dict

In [6]:
dict1 = {1 : [10,20,30,40], frozenset({3.5,1,2,3,4}) : 200}
dict1

{1: [10, 20, 30, 40], frozenset({1, 2, 3, 3.5, 4}): 200}

In [7]:
x = dict(name = "John", 
         age = 36, 
         country = "Norway")
print(x)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [8]:
names_dict = {'Name' : 'Rohit', # Duplicate key
              'Age' : 15, 
              'Marks' : 90, 
              'Place' : 'Pune', 
              'Name' : 'Ajay', # Duplicate key (dictionaries dont allow duplicate keys)
              'Contact' : 12345578}
names_dict

{'Name': 'Ajay', 'Age': 15, 'Marks': 90, 'Place': 'Pune', 'Contact': 12345578}

In [9]:
names_dict = {'Name' : 'Rohit', # Duplicate value
              'Age' : 15, 
              'Marks' : 90, 
              'Place' : 'Pune', 
              'Name1' : 'Rohit', # Duplicate value (dictionaries allow duplicate values)
              'Contact' : 12345578}
names_dict

{'Name': 'Rohit',
 'Age': 15,
 'Marks': 90,
 'Place': 'Pune',
 'Name1': 'Rohit',
 'Contact': 12345578}

__[Creating dictionary]__

In [10]:
# Method1: Using update() function

subject = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
marks = [90, 89, 93, 92, 85]

dict1 = {}
for i in range(len(subject)):
    dict1.update({subject[i]: marks[i]})
print(dict1)

{'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 92, 'Bio': 85}

In [11]:
# Method2: Using nested loop

subject = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
marks = [90, 89, 93, 92, 85]

result = {}
for s in subject:
    for m in marks:
        result[s] = m        
print(result)

{'Phy': 85, 'Che': 85, 'Math': 85, 'Eng': 85, 'Bio': 85}

In [12]:
# Method3: Using zip() function

subject = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
marks = [90, 89, 93, 92, 85]

zipf = dict(zip(subject,marks)) # The zip() function takes iterables (can be zero or more), aggregates them in a tuple, and returns it.
print(zipf)

{'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 92, 'Bio': 85}

In [13]:
# Method4: Using enumarate

subject = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
marks = [90, 89, 93, 92, 85]

dict1 = {}
for index, sub in enumerate(subject):
    dict1[sub] = marks[index]  
print(dict1)

{'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 92, 'Bio': 85}

In [14]:
# Method5: Using fromkeys() function

result = dict.fromkeys(['A', 'B', 'C', 'D'])
result

{'A': None, 'B': None, 'C': None, 'D': None}

In [15]:
result = dict.fromkeys(['A', 'B', 'C', 'D'],'Python')
result

{'A': 'Python', 'B': 'Python', 'C': 'Python', 'D': 'Python'}

In [16]:
result = dict.fromkeys('python', 1000)
result

{'p': 1000, 'y': 1000, 't': 1000, 'h': 1000, 'o': 1000, 'n': 1000}

In [17]:
result = dict.fromkeys('python', [1000,2000,3000,4000])
result

{'p': [1000, 2000, 3000, 4000],
 'y': [1000, 2000, 3000, 4000],
 't': [1000, 2000, 3000, 4000],
 'h': [1000, 2000, 3000, 4000],
 'o': [1000, 2000, 3000, 4000],
 'n': [1000, 2000, 3000, 4000]}

__[Nested dictionary]__

In [18]:
emp_details  = {'CG0001' : {'Employee_name' : 'Prashant',
                            'Company_Name' : 'Cognizant',
                            'Salary' : 50000,
                            'Designation' : 'Data Scientist'},
               'CG0002' : {'Employee_name' : 'ABC',
                            'Company_Name' : 'Cognizant',
                            'Salary' : 65000,
                            'Designation' : 'ML Developer'},
                'CG0003' : {'Employee_name' : 'XYZ',
                            'Company_Name' : 'Cognizant',
                            'Salary' : 80000,
                            'Designation' : 'Python Developer'}}
print(emp_details)

{'CG0001': {'Employee_name': 'Prashant', 'Company_Name': 'Cognizant', 'Salary': 50000, 'Designation': 'Data Scientist'}, 'CG0002': {'Employee_name': 'ABC', 'Company_Name': 'Cognizant', 'Salary': 65000, 'Designation': 'ML Developer'}, 'CG0003': {'Employee_name': 'XYZ', 'Company_Name': 'Cognizant', 'Salary': 80000, 'Designation': 'Python Developer'}}

In [19]:
emp_details["CG0001"]["Designation"]

'Data Scientist'

In [20]:
emp_details["CG0002"]["Salary"]

65000

In [21]:
emp_details  = {'CG0001' : {'Employee_name' : 'Prashant',
                            'Company_Name' : 'Cognizant',
                            'Salary' : 50000,
                            'Designation' : 'Data Scientist'},
               'CG0002' : {'Employee_name' : 'ABC',
                            'Company_Name' : 'Cognizant',
                            'Salary' : 65000,
                            'Designation' : 'ML Developer'},
                'CG0003' : {'Employee_name' : 'XYZ',
                            'Company_Name' : 'Cognizant',
                            'Salary' : [80000,34567,90000],
                            'Designation' : 'Python Developer'}}
emp_details["CG0003"]["Salary"]

[80000, 34567, 90000]

In [22]:
emp_details["CG0003"]["Salary"][-1] # Accessing elements from nested dictionary

90000

In [23]:
emp_details["CG0003"]["Salary"][-1] = 85000 # Changing value

In [24]:
emp_details["CG0003"]["Salary"][-1]

85000

__Accessing values from dictionary__

In [25]:
# Method1 
# This method will raise an error if specified key is not present in the dictionary

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["model"])

Mustang

In [26]:
# Method2
# Using get() function: returns the value of specified key
# The main difference is that it will not raise an error if the key is not present in the dictionary

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict.get("model"))

Mustang

In [27]:
# Method3
# Accessing all the values from a dictionary

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict.values())

dict_values(['Ford', 'Mustang', 1964])

In [28]:
# Accessing values from the dictionary using for loop

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in thisdict:
    print(thisdict[i])

Ford
Mustang
1964

In [29]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in thisdict.values():
    print(i)

Ford
Mustang
1964

__Accessing keys from dictionary__

In [30]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict.keys())

dict_keys(['brand', 'model', 'year'])

In [31]:
# Accessing keys from the dictionary using for loop

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in thisdict:
    print(i)

brand
model
year

In [32]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in thisdict.keys():
    print(i)

brand
model
year

__Accessing items from dictionary__

In [33]:
# Method1

employee_data = {'Employee_name' : 'Prashant',
                'Company Name' : 'Zensar',
                'Salary' : 50000,
                'Designation' : 'Data Scientist'}
employee_data

{'Employee_name': 'Prashant',
 'Company Name': 'Zensar',
 'Salary': 50000,
 'Designation': 'Data Scientist'}

In [34]:
# Method2

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [35]:
# Accessing items from the dictionary using for loop

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in thisdict.items():
    print(i)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

__Changing existing values from dictionary__

In [36]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 201
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 201}

In [37]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["brand"] = 'Honda'

print(thisdict)

{'brand': 'Honda', 'model': 'Mustang', 'year': 1964}

__Adding new elements in dictionary__

In [38]:
# Adding new items in dictionary

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.items()
print('Before making changes:')
print(x)
print()
car["color"] = "red"
print('After making changes:')
print(x)

Before making changes:
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

After making changes:
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [39]:
# Using update() function

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

__Converting dictionary to list__

In [40]:
dict1 = {'Geeks': 10, 'for': 12, 'Geek': 31 }
list1 = []

for i,j in dict1.items():
    list1.append(i)
    list1.append(j)
print(list1)

['Geeks', 10, 'for', 12, 'Geek', 31]

In [41]:
# Using list comprehension

dict1 = { 'Geeks': 10, 'for': 12, 'Geek': 31 }
list1 = [(i,j) for (i,j) in dict1.items()]
print(list1)

[('Geeks', 10), ('for', 12), ('Geek', 31)]

__Use of membership operator__

In [42]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

__[Dictionary functions]__

- len()
- get()
- update()
- keys()
- values()
- items()
- pop()
- popitem()
- clear()
- setdefault()
- fromkeys()
- copy()

__1) len()__
- It returns length of the dictionary

In [43]:
names_dict = {'Name' : 'Rohit' , 
              'Age' : 15, 
              'Marks' : 90, 
              'Place' : 'Pune', 
              'Name' : 'Ajay', 'Contact' : 12345578}
print(len(names_dict))

5

__2) get()__
- It returns value of a specified key

In [44]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict.get("model"))

Mustang

__3) .update()__
- It inserts the specified items to the dictionary.
- __`Syntax : dictionary.update(iterable)`__

In [45]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [46]:
employee_data = {'Employee_name' : 'Prashant',
                'Company_Name' : 'Zensar',
                'Salary' : 50000,
                'Designation' : 'Data Scientist'}

new_data = {'Company_Location' : 'Mumbai', 'Age' : 30, 'Employee_ID' : 'Z00011'}
employee_data.update(new_data)

print(employee_data, len(employee_data))

{'Employee_name': 'Prashant', 'Company_Name': 'Zensar', 'Salary': 50000, 'Designation': 'Data Scientist', 'Company_Location': 'Mumbai', 'Age': 30, 'Employee_ID': 'Z00011'} 7

__4) .keys()__
- It returns a list dictionary keys
- __`Syntax : dict.keys()`__

In [47]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

__5) .values()__
- It returns a list values in the dictionary
- __`Syntax : dict.values()`__

In [48]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

__6) .items()__
- It returns a list of tuple for each key value pair
- __`Syntax : dict.items()`__

In [49]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

__7) .pop()__
- It removes the element with the specified key
- __`Syntax : ditct.pop(key)`__

In [50]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.pop("model")
print(x)
print(car)

Mustang
{'brand': 'Ford', 'year': 1964}

In [51]:
d1 = {'Employee_name' : 'Prashant',
    'Company_Name' : 'Zensar',
    'Salary' : 50000,
    'Designation' : 'Data Scientist'}

d1.pop('Salary')
print(d1)

{'Employee_name': 'Prashant', 'Company_Name': 'Zensar', 'Designation': 'Data Scientist'}

__8) .popitem()__
- It removes the last inserted key-value pair
- __`Syntax : dict.popitem()`__

In [52]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.popitem()
print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [53]:
d1 = {'Employee_name' : 'Prashant',
    'Company_Name' : 'Zensar',
    'Salary' : 50000,
    'Designation' : 'Data Scientist'}
d1.popitem()
d1

{'Employee_name': 'Prashant', 'Company_Name': 'Zensar', 'Salary': 50000}

__9) .clear()__
- It clears the dictionary
- __`Syntax : dict.clear()`__

In [54]:
d1 = {'Employee_name' : 'Prashant',
    'Company_Name' : 'Zensar',
    'Salary' : 50000,
    'Designation' : 'Data Scientist'}

d1.clear()
print(d1)

{}

__10) .del()__
- It delets an item with specified key
- __`Syntax : del dict[key]`__

In [55]:
d1 = {'Employee_name' : 'Prashant',
    'Company_Name' : 'Zensar',
    'Salary' : 50000,
    'Designation' : 'Data Scientist'}

del d1['Designation']
print(d1)

{'Employee_name': 'Prashant', 'Company_Name': 'Zensar', 'Salary': 50000}

__11) .copy()__
- You cannot copy a dictionary simply by typing dict2 = dict1, Because changes made in dict1 will revert back to the dict2.
- __`Syntax : dict1 = dict2.copy()`__

In [56]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [57]:
# Or

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

__10) .fromkeys()__
- It returns a dictionary with the given keys and value
- __`Syntax : dict.fromkeys([keys], value)`__

In [58]:
result = dict.fromkeys(['A', 'B', 'C', 'D'])
result

{'A': None, 'B': None, 'C': None, 'D': None}

In [59]:
result = dict.fromkeys(['A', 'B', 'C', 'D'],'Python')
result

{'A': 'Python', 'B': 'Python', 'C': 'Python', 'D': 'Python'}

In [60]:
result = dict.fromkeys('python', 1000)
result

{'p': 1000, 'y': 1000, 't': 1000, 'h': 1000, 'o': 1000, 'n': 1000}

In [61]:
result = dict.fromkeys('python', [1000,2000,3000,4000])
result

{'p': [1000, 2000, 3000, 4000],
 'y': [1000, 2000, 3000, 4000],
 't': [1000, 2000, 3000, 4000],
 'h': [1000, 2000, 3000, 4000],
 'o': [1000, 2000, 3000, 4000],
 'n': [1000, 2000, 3000, 4000]}

__11) .setdefault()__
- It returns the value of the specified key. If the key does not exist, it will insert the key with the specified value
- __`Syntax : dict.setdefault(keyname,value)`__

In [62]:
result = {'Phy' : 90, 'Che':89, 'Maths' :89, 'Eng' : 92, 'Bio' : 85}
result.setdefault('Phy')

90

In [63]:
result = {'Phy' : 90, 'Che':89, 'Maths' :89, 'Eng' : 92, 'Bio' : 85}
result.setdefault('Physics')
result

{'Phy': 90, 'Che': 89, 'Maths': 89, 'Eng': 92, 'Bio': 85, 'Physics': None}

In [64]:
result = {'Phy' : 90, 'Che':89, 'Maths' :89, 'Eng' : 92, 'Bio' : 85}
result.setdefault('Data Science', 95)
result

{'Phy': 90, 'Che': 89, 'Maths': 89, 'Eng': 92, 'Bio': 85, 'Data Science': 95}

__[Ditionary (Interview questions)]__

In [65]:
# Sorting dictionary on the basis of keys

dict1 = {'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 92, 'Bio': 85}
dict2 = {}

sorted_keys = sorted(dict1.keys())
sorted_keys

for sub in sorted_keys:
    dict2.update({sub : dict1[sub]})
print("new dictionary", dict2)

new dictionary {'Bio': 85, 'Che': 89, 'Eng': 92, 'Math': 93, 'Phy': 90}

In [66]:
# Sorting dictionary on the basis of values

dict1 = {'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 92, 'Bio': 85}
dict2 = {}

sorted_values = sorted(dict1.values())
print(sorted_values)
print()
for marks in sorted(result.values()): # marks == 85, 89, 90, 92, 93
    for sub in dict1:  # sub == keys
#         print( "Subject name", sub) # 'Phy', 'Che', 'Maths', 'Eng', 'Bio'
        if dict1[sub] == marks:   # result[sub] == 85; Phy, Che, Math, Eng, 'Bio' == 85
            dict2.update({sub : marks})
#             print(dict2)
            break
print(dict2)

[85, 89, 90, 92, 93]

{'Bio': 85, 'Che': 89, 'Phy': 90, 'Eng': 92}

In [67]:
# Square of first 10 numbers

square = {}

for i in range(1,11):
    square[i] = i ** 2
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [68]:
# ASCII value for upper case alphabetes

ascii_upper = {}

for i in range(65, 91):
    ascii_upper.update({chr(i) : i})
print(ascii_upper)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [69]:
# ASCII value for lower case alphabetes

ascii_lower = {}

for i in range(97,123):
    ascii_lower.update({chr(i) : i})
print(ascii_lower)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}