## Pattern Drawing (Number) made easy
- There are actually two things which actually makes the number pattern.  
  - __`1) Pattern`__
  - __`2) Shape numbers`__
- Program will have two different logic one to make pattern and other to put in the numbers as per the requirement.
- Changing range function creates confusion, So keep pattern logic and number logic seprate so as to avoid the chances of getting error.
- For pattern logic go with star pattern drawing.
- Increasing triangle range: (i+1) and Decreasing triangle pattern range: (i,n)
- Do not mix indexes with pattern.
- Initialize required number of variable.
- Build two seprate logic one to make pattern and other to make order of numbers: __`Pattern + Order of numbers`__

In [ ]:
# Same as star pattern

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [1]:
n = int(input('Please enter number of rows: '))
for i in range(n):
    for j in range(i+1):
        print('1',end=' ')
    print()

Please enter number of rows: 5
1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

__`1) Incrementing rows:`__ Changing row values

In [ ]:
# Increamenting rows: Initialize variable 'p=1' above for loop and increment with p+=1 in for loop

In [ ]:
1
2 2
3 3 3
4 4 4 4 
5 5 5 5 5

In [4]:
# Complex method:

n = int(input('Please enter number of rows: '))
for i in range(n):
    for j in range(i+1):
        print(i+1,end=' ')
    print()

Please enter number of rows: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [2]:
# Easy way (my_way):

n = int(input('Please enter number of rows: '))
p=1
for i in range(n): # (5) ; (0,5) ; '0',1,2,3,4
    for j in range(i+1): # 1 ; (0,1) ; '0'
        print(p,end=' ') # p=1
    p+=1 # p+1 = 1+1 = 2
    print()

Please enter number of rows: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [6]:
n = int(input('Please enter number of rows: '))
p=1
for i in range(n): # (5) ; (0,5) ; '0',1,2,3,4
    for j in range(i,n): # (0,5) ; '0',1,2,3,4
        print(p,end=' ') # p=1
    p+=1 # p+=1 = 1+1 = 2
    print()

Please enter number of rows: 5
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

In [7]:
n = int(input('Please enter no of rows: '))
p=1
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print(p,end=' ')
    for j in range(i):
        print(p,end=' ')
    p+=1
    print()

Please enter no of rows: 5
          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5

In [ ]:
1 1 1 1 1 1 1 1 1
  2 2 2 2 2 2 2
    3 3 3 3 3
      4 4 4 
        5

In [9]:
n = int(input('Please enter no of rows: '))
p=1
for i in range(n):
    for j in range(i):
        print(' ',end=' ')
    for j in range(i,n):
        print(p,end=' ')
    for j in range(i+1,n):
        print(p,end=' ')
    p+=1
    print()

Please enter no of rows: 5
1 1 1 1 1 1 1 1 1
  2 2 2 2 2 2 2
    3 3 3 3 3
      4 4 4
        5

In [1]:
# Incrementing triangle with 'p+=2'

In [ ]:
0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

In [2]:
n = int(input('Please enter number of rows: '))
p=0
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
    p+=2
    print()

Please enter number of rows: 5
0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

__`2) Decrementing rows:`__

In [ ]:
# Decreamenting rows: Initialize variable 'p=5' above for loop and decrement with p-=1 in for loop

In [ ]:
5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [26]:
n = int(input('Please enter number of rows: '))
p=5
for i in range(n): # (5) ; (0,5) ; '0',1,2,3,4
    for j in range(i+1): # (1) ; (0,1) ; '0'
        print(p,end=' ') # p=5
    p-=1 # p-=1 ; p=4
    print()

Please enter number of rows: 5
5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [11]:
n = int(input('Please enter number of rows: '))
p=5
for i in range(n):
    for j in range(i,n):
        print(p,end=' ')
    p-=1
    print()

Please enter number of rows: 5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [1]:
# In hill pattern drawing incrementing columns, no need to increment again and again since rows belongs to for loop only

In [12]:
n = int(input('Please enter no of rows: '))
p=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print(p,end=' ')
    for j in range(i):
        print(p,end=' ')
    p-=1
    print()

Please enter no of rows: 5
          5
        4 4 4
      3 3 3 3 3
    2 2 2 2 2 2 2
  1 1 1 1 1 1 1 1 1

In [13]:
n = int(input('Please enter no of rows: '))
p=5
for i in range(n):
    for j in range(i):
        print(' ',end=' ')
    for j in range(i,n):
        print(p,end=' ')
    for j in range(i+1,n):
        print(p,end=' ')
    p-=1
    print()

Please enter no of rows: 5
5 5 5 5 5 5 5 5 5
  4 4 4 4 4 4 4
    3 3 3 3 3
      2 2 2
        1

__`Use of if else condition:`__

In [ ]:
1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [15]:
n = int(input('Please enter number of rows: '))

for i in range(n):
    for j in range(i+1):
        if i%2==0:
            print(1,end=' ')
        else:
            print('2',end=' ')
    print()

Please enter number of rows: 5
1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [16]:
n = int(input('Please enter number of rows: '))

for i in range(n):
    for j in range(i+1):
        if i%2==0:
            print('$',end=' ')
        else:
            print('#',end=' ')
    print()

Please enter number of rows: 5
$
# #
$ $ $
# # # #
$ $ $ $ $

In [17]:
n = int(input('Please enter number of rows: '))

for i in range(n):
    for j in range(i+1):
        if i%2==0:
            print('a',end=' ')
        else:
            print('b',end=' ')
    print()

Please enter number of rows: 5
a
b b
a a a
b b b b
a a a a a

In [18]:
n = int(input('Please enter no of rows: '))

for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        if i%2==0:
            print('a',end=' ')
        else:
            print('b',end=' ')
    for j in range(i):
        if i%2==0:
            print('a',end=' ')
        else:
            print('b',end=' ')
    print()

Please enter no of rows: 5
          a
        b b b
      a a a a a
    b b b b b b b
  a a a a a a a a a

In [26]:
# Diamond

n = int(input('Please enter no of rows: '))
for i in range(n-1):
    for j in range(i+1,n):
        print(' ',end=' ')
    for j in range(i+1):
        if i%2==0:
            print('a',end=' ')
        else:
            print('b',end=' ')
    for j in range(i):
        if i%2==0:
            print('a',end=' ')
        else:
            print('b',end=' ')
    print()
for i in range(n):
    for j in range(i):
        print(' ',end=' ')
    for j in range(i+1,n):
        if i%2==0:
            print('a',end=' ')
        else:
            print('b',end=' ')
    for j in range(i,n):
        if i%2==0:
            print('a',end=' ')
        else:
            print('b',end=' ')
    print()

Please enter no of rows: 5
        a
      b b b
    a a a a a
  b b b b b b b
a a a a a a a a a
  b b b b b b b
    a a a a a
      b b b
        a

__`3) Doubled in rows:`__

In [ ]:
# Intitialize p=1 above for loop only one time and increment p+=1 in both for loop
# If p=1 intialized two times above for loop and incremented by p+=1 two times then code will start from 1 again

In [27]:
# Increment

n = int(input('Please enter no of rows: '))
p=1
for i in range(n-1):
    for j in range(i+1,n):
        print(' ',end=' ')
    for j in range(i+1):
        print(p,end=' ')
    for j in range(i):
        print(p,end=' ')
    p+=1
    print()
for i in range(n):
    for j in range(i):
        print(' ',end=' ')
    for j in range(i+1,n):
        print(p,end=' ')
    for j in range(i,n):
        print(p,end=' ')
    p+=1
    print()

Please enter no of rows: 5
        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5
  6 6 6 6 6 6 6
    7 7 7 7 7
      8 8 8
        9

In [3]:
# Increment + Increment

n = int(input('Please enter no of rows: '))
p=1
for i in range(n-1):
    for j in range(i+1,n):
        print(' ',end=' ')
    for j in range(i+1):
        print(p,end=' ')
    for j in range(i):
        print(p,end=' ')
    p+=1
    print()
p=1
for i in range(n):
    for j in range(i):
        print(' ',end=' ')
    for j in range(i+1,n):
        print(p,end=' ')
    for j in range(i,n):
        print(p,end=' ')
    p+=1
    print()

Please enter no of rows: 5
        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
1 1 1 1 1 1 1 1 1
  2 2 2 2 2 2 2
    3 3 3 3 3
      4 4 4
        5

In [28]:
# Increment + Decrement (initialize p=1 above for loop  and increment p+=1 for first for loop and then decrement p-=1 for second)

n = int(input('Please enter no of rows: '))
p=1
for i in range(n-1):
    for j in range(i+1,n):
        print(' ',end=' ')
    for j in range(i+1):
        print(p,end=' ')
    for j in range(i):
        print(p,end=' ')
    p+=1
    print()
for i in range(n):
    for j in range(i):
        print(' ',end=' ')
    for j in range(i+1,n):
        print(p,end=' ')
    for j in range(i,n):
        print(p,end=' ')
    p-=1
    print()

Please enter no of rows: 5
        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5
  4 4 4 4 4 4 4
    3 3 3 3 3
      2 2 2
        1

__`4) Incrementing columns:`__ Changing column values

In [ ]:
# Initialize p=1 above nested and increment p+=1 in nested

In [ ]:
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [29]:
n = int(input('Please enter number of rows: '))

for i in range(n):
    p=1
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    print()

Please enter number of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [30]:
n = int(input('Please enter number of rows: '))

for i in range(n):
    p=1
    for j in range(i,n):
        print(p,end=' ')
        p+=1
    print()

Please enter number of rows: 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [5]:
# In Hill pattern draing incrementing rows we need to increment p+=1 again and again for each nested since columns belongs to nested

In [38]:
n = int(input('Please enter no of rows: '))
for i in range(n):
    p=1
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    for j in range(i):
        print(p,end=' ')
        p+=1
    print()

Please enter no of rows: 5
          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9

__`5) Doubled in rows`__

In [6]:
# Initialize p=1 two times and increment p+=1 in each nested loop

In [40]:
# Increment

n = int(input('Please enter no of rows: '))

for i in range(n-1):
    p=1
    for j in range(i+1,n):
        print(' ',end=' ')
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    for j in range(i):
        print(p,end=' ')
        p+=1
    print()
for i in range(n):
    p=1
    for j in range(i):
        print(' ',end=' ')
    for j in range(i+1,n):
        print(p,end=' ')
        p+=1
    for j in range(i,n):
        print(p,end=' ')
        p+=1
    print()

Please enter no of rows: 5
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1

In [45]:
n = int(input("Please enter how many number of rows you want: ")) # Taking user input for number of rows

for i in range(n-1):
    p=1
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    for j in range(i+1,n):
        print(' ',end=' ')
    p=1
    for j in range(i+1,n):
        print(' ',end=' ')
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    print()
for i in range(n):
    p=1
    for j in range(i,n):
        print(p,end=' ')
        p+=1
    for j in range(i):
        print(' ',end= ' ')
    for j in range(i):
        print(' ',end=' ')
    p=1
    for j in range(i,n):
        print(p,end = ' ')
        p+=1
    print()

Please enter how many number of rows you want: 5
1                 1
1 2             1 2
1 2 3         1 2 3
1 2 3 4     1 2 3 4
1 2 3 4 5 1 2 3 4 5
1 2 3 4     1 2 3 4
1 2 3         1 2 3
1 2             1 2
1                 1

__`6) Decrementing columns:`__
- Decrementing; Initialize p=5 above for loop and p=k below for loop and then decrement p-=1 in nested and decrement k-=1 in for loop.

In [46]:
n = int(input('Please enter number of rows: '))

for i in range(n):
    p=5
    for j in range(i,n):
        print(p,end=' ')
        p-=1
    print()

Please enter number of rows: 5
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [47]:
n = int(input('Please enter number of rows: '))

for i in range(n):
    p=5
    for j in range(i+1):
        print(p,end=' ')
        p-=1
    print()

Please enter number of rows: 5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

__`7) Ending with same number value:`__

In [54]:
n = int(input('Please enter number of rows: '))
k = 5
for i in range(n):
    p = k
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print(p,end=' ')
        p-=1
    k-=1
    print()

Please enter number of rows: 5
  5 4 3 2 1
    4 3 2 1
      3 2 1
        2 1
          1

In [55]:
# another method

n = int(input('Please enter number of rows: '))

for i in range(n):
    p = n-i
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print(p,end=' ')
        p-=1
    print()

Please enter number of rows: 5
  5 4 3 2 1
    4 3 2 1
      3 2 1
        2 1
          1

In [61]:
n = int(input('Please enter no of rows: '))

for i in range(n):
    p=1
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):
        print(p,end=' ')
        p+=1
    for j in range(i+1):
        print(p,end=' ')
        p-=1
    print()

Please enter no of rows: 5
          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

__`8) Changing rows and columns both:`__

In [31]:
# Floyd triangle

In [ ]:
1
2 3
4 5 6
7 8 9 10

In [64]:
n = int(input('Please enter number of rows: '))
p=1
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    print()

Please enter number of rows: 4
1
2 3
4 5 6
7 8 9 10

__`Assignment Questions:`__

In [ ]:
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [65]:
n = int(input('Please enter number of rows: '))

for i in range(n):
    p=1
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    print()

Please enter number of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [67]:
# Floyd triangle

n = int(input('Please enter number of rows: '))
p = 1
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    print()

Please enter number of rows: 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [68]:
n = int(input('Please enter number of rows: '))
p=1
for i in range(n):
    for j in range(i,n):
        print(p,end=' ')
    p+=1
    print()

Please enter number of rows: 5
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [69]:
n = int(input('Please enter number of rows: '))
p=6
for i in range(n):
    for j in range(i,n):
        print(p,end=' ')
    p-=1
    print()

Please enter number of rows: 6
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [73]:
n = int(input('Please enter number of rows: '))
for i in range(n-1):
    p=0
    for j in range(i,n):
        print(p,end=' ')
        p+=1
    print()

Please enter number of rows: 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [ ]:
1
2 3 4
5 6 7 8 9

In [12]:
n = int(input('Please enter number of rows: '))
p = 1
for i in range(0,n,2):
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    print()

Please enter number of rows: 5
1
2 3 4
5 6 7 8 9

In [ ]:
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [84]:
n = int(input('Please enter number of rows: '))
k=6
for i in range(n):
    p=k
    for j in range(i,n):
        print(p,end=' ')  
        p-=1
    k-=1
    print()

Please enter number of rows: 6
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [88]:
n = int(input('Please enter number of rows: '))
p=1
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
    p+=2
    print()

Please enter number of rows: 5
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [89]:
n = int(input('Please enter number of rows: '))

for i in range(n):
    p=1
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    print()

Please enter number of rows: 5
          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [ ]:
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [99]:
n = int(input('Please enter number of rows: '))
k=1
m=2
for i in range(n):
    for j in range(i+1):
        print(k,end=' ')
    k+=1
    p=m
    for j in range(i+1,n):
        print(p,end=' ')
        p+=1
    m+=1
    print()

Please enter number of rows: 5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [102]:
#Using i,j

for i in range(1, 6):
    for j in range(i):
        print(i, end=' ')
    for k in range(i+1, 6):
        print(k, end=' ')    
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [103]:
# while loop

i = 1
while i < 6:
    j = 1
    while j <= i:
        print(i, end=' ')
        j += 1
    k = i+1
    while k < 6:
        print(k, end=' ')
        k += 1 
    print()
    i += 1

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [ ]:
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49

In [18]:
n = int(input('Please enter number of rows: '))
p=1
for i in range(n):
    q=1
    for j in range(i+1):
        print(p*q,end=' ')
        q+=1
    p+=1
    print()

Please enter number of rows: 7
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49

In [ ]:
1
2 1
4 2 1
8 4 2 1
16 8 4 2 1
32 16 8 4 2 1
64 32 16 8 4 2 1
128 64 32 16 8 4 2 1

In [24]:
n = int(input('Please enter number of rows: ')) 
p=1
for i in range(n):
    k=1
    for j in range(i+1):
        print(2**(p-k),end=' ')
        k+=1
    p+=1
    print()

Please enter number of rows: 8
1
2 1
4 2 1
8 4 2 1
16 8 4 2 1
32 16 8 4 2 1
64 32 16 8 4 2 1
128 64 32 16 8 4 2 1