#### Built in functions of python
Below are some important built in functions of python taught in class:
- zip()
- filter()
- map()
- all()
- any()
- chr()
- ord()
- bin()
- abs()
- dir()
- eval()
- iter()
- format()
- pow()
- divmod()

Below are some important extra built in functions of python:
- bin()
- bool()
- complex()
- delattr()
- getattr()
- hasattr()
- setattr()
- enumerate()
- exec()
- help()
- hex()
- input()
- isinstance()
- issubclass()
- next()
- max()
- min()
- sum()
- oct()
- open()
- reversed()
- sorted()
- round()
- slice()
- super()

#### zip()
The zip() function returns a zip object, is like a handy tool that lets you combine two or more lists or sequences together, like you're zipping up the corresponding elements from each list into a single package.

`Syntax: zip(iterator1, iterator2, iterator3 ...)`

In [1]:
# Normal way: using enumarate function 

names = ["Akshay", 'Akash', 'Rohit', 'Swapnil']
age = [20,30,25, 28]

name_age = {}

for index,name in enumerate(names):
    name_age.update({name : age[index]})
    
print(name_age)

{'Akshay': 20, 'Akash': 30, 'Rohit': 25, 'Swapnil': 28}

In [2]:
# Using zip function (Dictionary)

names = ["Akshay", 'Akash', 'Rohit', 'Swapnil']
age = [20,30,25, 28]

dict(zip(names, age)) # use the dict() function to display a readable version of the result

{'Akshay': 20, 'Akash': 30, 'Rohit': 25, 'Swapnil': 28}

In [4]:
# Using zip function (List)

names = ["Akshay", 'Akash', 'Rohit', 'Swapnil']
age = [20,30,25, 28]

list(zip(names, age)) # use the list() function to display a readable version of the result

[('Akshay', 20), ('Akash', 30), ('Rohit', 25), ('Swapnil', 28)]

In [5]:
# Using zip function (Tuple)

names = ["Akshay", 'Akash', 'Rohit', 'Swapnil']
age = [20,30,25, 28]

tuple(zip(names, age)) # use the tuple() function to display a readable version of the result

(('Akshay', 20), ('Akash', 30), ('Rohit', 25), ('Swapnil', 28))

In [6]:
# Using zip function (Set)

names = ["Akshay", 'Akash', 'Rohit', 'Swapnil']
age = [20,30,25, 28]

set(zip(names, age)) # use the set() function to display a readable version of the result

{('Akash', 30), ('Akshay', 20), ('Rohit', 25), ('Swapnil', 28)}

**If one tuple contains more items, these items are ignored.

In [10]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica", "Vicky")

x = zip(a,b)

print(tuple(x))

(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))

In [15]:
# Having more than three iterators

names = ["Akshay", 'Akash', 'Rohit', 'Swapnil']
age = [20,30,25, 28]
location = ['pune', 'mumbai', 'delhi', 'chennai']

tuple(zip(names,age,location))

(('Akshay', 20, 'pune'),
 ('Akash', 30, 'mumbai'),
 ('Rohit', 25, 'delhi'),
 ('Swapnil', 28, 'chennai'))

In [1]:
# Diffferent

names = ["Akshay", 'Akash', 'Rohit', 'Swapnil']
age = [20,30,25, 28]
location = ['pune', 'mumbai', 'delhi', 'chennai']

dict(zip(names, zip(age,location)))

{'Akshay': (20, 'pune'),
 'Akash': (30, 'mumbai'),
 'Rohit': (25, 'delhi'),
 'Swapnil': (28, 'chennai')}

#### filter()
The filter() function returns an iterator where the items are filtered through a function to test if the item is accepted or not. That basicaly means that filter function will iterate through the given list or any data type and returns iterators which satisfies the given condition.

`Syntax: filter(function, iterable)`
- function: A Function to be run for each item in the iterable
- the iterable to be filtered

In [16]:
# Normal way

def check_odd_number(a):
    if a%2 != 0:
        return a

check_odd_number(3)

3

In [17]:
iterables = [3,4,2,5,6,7]

list(filter(check_odd_number, iterables))

[3, 5, 7]

In [19]:
def check_even_number(a):
    if a%2 == 0:
        return a

check_even_number(2)

2

In [20]:
iterables = [3,4,2,5,6,7]

list(filter(check_even_number, iterables))

[4, 2, 6]

In [21]:
string = 'Data Science'
result = lambda x : x.isupper()

result(string)

False

In [23]:
string = 'Data Science'

list(filter(result, string))

['D', 'S']

In [24]:
string = 'Data Science'

list(filter(lambda x : x.islower(), string))

['a', 't', 'a', 'c', 'i', 'e', 'n', 'c', 'e']

In [25]:
iterable = [3,4,5,6,7,8]

list(filter(lambda x : x%2 == 0, iterable))

[4, 6, 8]

In [26]:
string = 'Data Science'

result = list(filter(lambda x : x.isupper(), string))
result

['D', 'S']

In [3]:
# filter function can not perform any operation it will only filters the result. To perform any operation we use map() function. 

string = 'Data Science'

result = list(filter(lambda char : char.upper(), string)) # This wont do anything # Filter expects result in boolean
result

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

#### map()
Returns the specified iterator with the specified function applied to each item

`Syntax: map(function, iterables)`
- function:	(Required) The function to execute for each item
- iterable:	(Required) A sequence, collection or an iterator object. You can send as many iterables as you like, just make sure the function has one parameter for each iterable.

In [31]:
def myfunc(n):
    return len(n)

x = map(myfunc, ('apple', 'banana', 'cherry'))
print(list(x))

[5, 6, 6]

In [34]:
string = 'Data Science'

result = list(map(lambda char : char.upper(), string))
result

['D', 'A', 'T', 'A', ' ', 'S', 'C', 'I', 'E', 'N', 'C', 'E']

In [36]:
def myfunc(a, b):
    return a + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))
print(list(x))

['appleorange', 'bananalemon', 'cherrypineapple']

In [37]:
numbers = [10,20,30]
result = list(map(lambda num : num ** 2, numbers))
result

[100, 400, 900]

In [38]:
string = 'Data'

result = list(map(lambda char : char.isupper(), string))
result

[True, False, False, False]

In [40]:
string = 'Data'
string.isupper()

# See the difference map function iterates through the string but normal function does not iterate through the string

False

In [41]:
# Normal way

list1 = [3,4,5,6,7]
list2 = [10,20,30,40,50]

result = []
for index, value in enumerate(list1):
    result.append(value + list2[index])
    
result

[13, 24, 35, 46, 57]

In [42]:
# Using lambda and map function

list1 = [3,4,5,6,7]
list2 = [10,20,30,40,50]

list(map(lambda x,y : x+y, list1, list2))

[13, 24, 35, 46, 57]

In [43]:
# def add_x_y(x,y):
#     add = x + y
#     return add

string1 = 'python'
string2 = 'class'

list(map(lambda x,y : x+y, string1, string2))

['pc', 'yl', 'ta', 'hs', 'os']

In [44]:
# Difference between filter and map is that filter function only returns the iterators which returns satisfies the condition 
# and can not perform any operation But map function returns a list of iterators performing operations.

weekdays = ['Sunday', "Monday", "tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
result = list(filter(lambda day : len(day) == 6, weekdays))
result

['Sunday', 'Monday', 'Friday']

In [45]:
weekdays = ['Sunday', "Monday", "tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
result = list(map(lambda day : day.upper(), weekdays))
result

['SUNDAY', 'MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY']

#### all()
The all() function returns True if all items in an iterable are true, otherwise it returns False. If the iterable object is empty, the all() function also returns True.

`Syntax: all(iterable)`

**iterable >> list, tuple, string, set, dictionary
- True >> If all the elements are True
- True >> If the iterable is empty
- False >> If any element is False or 0

In [55]:
# Tuple

tuple1 = (True,True,True)
all(tuple1)

True

In [50]:
# List

list1 = [3,4,5,6,7]
all(list1)

True

In [52]:
# Dictionary

dict1 = {3:'om',4:'omk',5:'omka',6:'omkar'}
all(dict1)

True

In [53]:
# Set

set1 = {3,4,5,6,7,0}
all(set1)

False

In [59]:
list1 = []
all(list1)

True

In [63]:
# This will not work since it is not iterable

# list1 = (2)
# all(list1)

In [60]:
list1 = {}
all(list1)

True

In [64]:
list1 = [True,True,True,False,True]
all(list1)

False

In [65]:
var = {0 : 100, 'b' : 200}
all(var)

False

In [66]:
var = {'a' : 0, 'b' : 200}
all(var.values())

False

In [67]:
var = 'string'
all(var)

True

In [68]:
var = ''
all(var)

True

In [69]:
fs = frozenset({2,3,4,5,6})
all(fs)

True

In [70]:
fs = frozenset({2,3,0,4,5,6})
all(fs)

False

#### any()
Returns True if any item in an iterable object is true. otherwise it returns False. If the iterable object is empty, the any() function will return False.

`Syntax: any(iterable)`

**iterable >> list, tuple, string, set, dictionary
- True >> If at least one element is True
- False >> If the iterable is empty
- False >> If all elements are False or 0

In [ ]:
**iterable >> list, tuple, string, set, dictionary
- True >> If all the elements are True
- True >> If the iterable is empty
- False >> If any element is False or 0

In [72]:
set1 = {1,2}
any(set1)

True

In [73]:
list1 = ['a', 'b', '$']
all(list1)

True

In [74]:
list1 = [0,2,3,4,5,6]
all(list1) 
any(list1)

True

In [76]:
# Difference between false and any

list1 = [True,False, True, True, False]
print(all(list1))
print(any(list1))

False
True

In [77]:
list1 = []
print(all(list1))
print(any(list1))

True
False

In [79]:
var = {'a' : 0, 'b' : 200}
print(all(var)) # returning True since it is iterating keys from the dictionary
print(any(var))

True
True

In [84]:
var = {100 : 0, 1 : 200}
print(all(var.values())) # # returning False since it is iterating values from the dictionary
print(any(var))

False
True

#### chr()
Returns a character from the specified Unicode code.

`range: A-Z >> 65-90, a-z >> 97-122`

`Syntax: chr(unicode)`

In [85]:
chr(122)

'z'

In [88]:
chr(68)

'D'

In [87]:
chr(90)

'Z'

#### ord()
Convert an integer representing the Unicode of the specified character.

`range: A-Z >> 65-90, a-z >> 97-122`

`Syntax: ord(alphabet)`

In [90]:
ord('A')

65

In [91]:
ord('b')

98

In [92]:
ord('_')

95

#### bin()
Returns the binary version of a number

`Syntax: bin(number)`

In [93]:
bin(45)

'0b101101'

In [94]:
s1 = bin(45)
s1 = s1.replace('0b','')
s1

'101101'

In [96]:
bin(8)

'0b1000'

In [95]:
s1 = bin(8)
s1 = s1.replace('0b','')
s1

'1000'

#### abs()
Returns the absolute value of a number

`Syntax: abs(number)`

In [103]:
abs(3+5j) # sqrt(3**2 + 5**2)

# import numpy as np
# np.sqrt(3**2 + 5**2)

5.830951894845301

In [100]:
abs(-5)  # |-5| = 5

5

In [101]:
abs(-10)

10

In [102]:
abs(5)

5

In [104]:
abs(8+15j)

17.0

#### dir()
The dir() function returns all properties and methods of the specified object, without the values. This function will return all the properties and methods, even built-in properties which are default for all object in short it displays the content of an object.

`Syntax: dir(object)`

In [105]:
import os

list1 = dir(os)
print(list1)

['DirEntry', 'F_OK', 'MutableMapping', 'O_APPEND', 'O_BINARY', 'O_CREAT', 'O_EXCL', 'O_NOINHERIT', 'O_RANDOM', 'O_RDONLY', 'O_RDWR', 'O_SEQUENTIAL', 'O_SHORT_LIVED', 'O_TEMPORARY', 'O_TEXT', 'O_TRUNC', 'O_WRONLY', 'P_DETACH', 'P_NOWAIT', 'P_NOWAITO', 'P_OVERLAY', 'P_WAIT', 'PathLike', 'R_OK', 'SEEK_CUR', 'SEEK_END', 'SEEK_SET', 'TMP_MAX', 'W_OK', 'X_OK', '_AddedDllDirectory', '_Environ', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_check_methods', '_execvpe', '_exists', '_exit', '_fspath', '_get_exports_list', '_putenv', '_unsetenv', '_wrap_close', 'abc', 'abort', 'access', 'add_dll_directory', 'altsep', 'chdir', 'chmod', 'close', 'closerange', 'cpu_count', 'curdir', 'defpath', 'device_encoding', 'devnull', 'dup', 'dup2', 'environ', 'error', 'execl', 'execle', 'execlp', 'execlpe', 'execv', 'execve', 'execvp', 'execvpe', 'extsep', 'fdopen', 'fsdecode', 'fsencode', 'fspath', 'fstat', 'fsync', 'ftruncate', 'get_exec_path', 'get_handle_inheritable', 'get_inheritable', 'get_terminal_size', 'getcwd', 'getcwdb', 'getenv', 'getlogin', 'getpid', 'getppid', 'isatty', 'kill', 'linesep', 'link', 'listdir', 'lseek', 'lstat', 'makedirs', 'mkdir', 'name', 'open', 'pardir', 'path', 'pathsep', 'pipe', 'popen', 'putenv', 'read', 'readlink', 'remove', 'removedirs', 'rename', 'renames', 'replace', 'rmdir', 'scandir', 'sep', 'set_handle_inheritable', 'set_inheritable', 'spawnl', 'spawnle', 'spawnv', 'spawnve', 'st', 'startfile', 'stat', 'stat_result', 'statvfs_result', 'strerror', 'supports_bytes_environ', 'supports_dir_fd', 'supports_effective_ids', 'supports_fd', 'supports_follow_symlinks', 'symlink', 'sys', 'system', 'terminal_size', 'times', 'times_result', 'truncate', 'umask', 'uname_result', 'unlink', 'urandom', 'utime', 'waitpid', 'walk', 'write']

In [106]:
import numpy as np

list1 = dir(np)
print(list1)

['ALLOW_THREADS', 'AxisError', 'BUFSIZE', 'Bytes0', 'CLIP', 'ComplexWarning', 'DataSource', 'Datetime64', 'ERR_CALL', 'ERR_DEFAULT', 'ERR_IGNORE', 'ERR_LOG', 'ERR_PRINT', 'ERR_RAISE', 'ERR_WARN', 'FLOATING_POINT_SUPPORT', 'FPE_DIVIDEBYZERO', 'FPE_INVALID', 'FPE_OVERFLOW', 'FPE_UNDERFLOW', 'False_', 'Inf', 'Infinity', 'MAXDIMS', 'MAY_SHARE_BOUNDS', 'MAY_SHARE_EXACT', 'MachAr', 'ModuleDeprecationWarning', 'NAN', 'NINF', 'NZERO', 'NaN', 'PINF', 'PZERO', 'RAISE', 'RankWarning', 'SHIFT_DIVIDEBYZERO', 'SHIFT_INVALID', 'SHIFT_OVERFLOW', 'SHIFT_UNDERFLOW', 'ScalarType', 'Str0', 'Tester', 'TooHardError', 'True_', 'UFUNC_BUFSIZE_DEFAULT', 'UFUNC_PYVALS_NAME', 'Uint64', 'VisibleDeprecationWarning', 'WRAP', '_NoValue', '_UFUNC_API', '__NUMPY_SETUP__', '__all__', '__builtins__', '__cached__', '__config__', '__deprecated_attrs__', '__dir__', '__doc__', '__expired_functions__', '__file__', '__getattr__', '__git_revision__', '__loader__', '__mkl_version__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_add_newdoc_ufunc', '_distributor_init', '_financial_names', '_globals', '_mat', '_pytesttester', 'abs', 'absolute', 'add', 'add_docstring', 'add_newdoc', 'add_newdoc_ufunc', 'alen', 'all', 'allclose', 'alltrue', 'amax', 'amin', 'angle', 'any', 'append', 'apply_along_axis', 'apply_over_axes', 'arange', 'arccos', 'arccosh', 'arcsin', 'arcsinh', 'arctan', 'arctan2', 'arctanh', 'argmax', 'argmin', 'argpartition', 'argsort', 'argwhere', 'around', 'array', 'array2string', 'array_equal', 'array_equiv', 'array_repr', 'array_split', 'array_str', 'asanyarray', 'asarray', 'asarray_chkfinite', 'ascontiguousarray', 'asfarray', 'asfortranarray', 'asmatrix', 'asscalar', 'atleast_1d', 'atleast_2d', 'atleast_3d', 'average', 'bartlett', 'base_repr', 'binary_repr', 'bincount', 'bitwise_and', 'bitwise_not', 'bitwise_or', 'bitwise_xor', 'blackman', 'block', 'bmat', 'bool8', 'bool_', 'broadcast', 'broadcast_arrays', 'broadcast_shapes', 'broadcast_to', 'busday_count', 'busday_offset', 'busdaycalendar', 'byte', 'byte_bounds', 'bytes0', 'bytes_', 'c_', 'can_cast', 'cast', 'cbrt', 'cdouble', 'ceil', 'cfloat', 'char', 'character', 'chararray', 'choose', 'clip', 'clongdouble', 'clongfloat', 'column_stack', 'common_type', 'compare_chararrays', 'compat', 'complex128', 'complex64', 'complex_', 'complexfloating', 'compress', 'concatenate', 'conj', 'conjugate', 'convolve', 'copy', 'copysign', 'copyto', 'core', 'corrcoef', 'correlate', 'cos', 'cosh', 'count_nonzero', 'cov', 'cross', 'csingle', 'ctypeslib', 'cumprod', 'cumproduct', 'cumsum', 'datetime64', 'datetime_as_string', 'datetime_data', 'deg2rad', 'degrees', 'delete', 'deprecate', 'deprecate_with_doc', 'diag', 'diag_indices', 'diag_indices_from', 'diagflat', 'diagonal', 'diff', 'digitize', 'disp', 'divide', 'divmod', 'dot', 'double', 'dsplit', 'dstack', 'dtype', 'e', 'ediff1d', 'einsum', 'einsum_path', 'emath', 'empty', 'empty_like', 'equal', 'errstate', 'euler_gamma', 'exp', 'exp2', 'expand_dims', 'expm1', 'extract', 'eye', 'fabs', 'fastCopyAndTranspose', 'fft', 'fill_diagonal', 'find_common_type', 'finfo', 'fix', 'flatiter', 'flatnonzero', 'flexible', 'flip', 'fliplr', 'flipud', 'float16', 'float32', 'float64', 'float_', 'float_power', 'floating', 'floor', 'floor_divide', 'fmax', 'fmin', 'fmod', 'format_float_positional', 'format_float_scientific', 'format_parser', 'frexp', 'frombuffer', 'fromfile', 'fromfunction', 'fromiter', 'frompyfunc', 'fromregex', 'fromstring', 'full', 'full_like', 'gcd', 'generic', 'genfromtxt', 'geomspace', 'get_array_wrap', 'get_include', 'get_printoptions', 'getbufsize', 'geterr', 'geterrcall', 'geterrobj', 'gradient', 'greater', 'greater_equal', 'half', 'hamming', 'hanning', 'heaviside', 'histogram', 'histogram2d', 'histogram_bin_edges', 'histogramdd', 'hsplit', 'hstack', 'hypot', 'i0', 'identity', 'iinfo', 'imag', 'in1d', 'index_exp', 'indices', 'inexact', 'inf', 'info', 'infty', 'inner', 'insert', 'int0', 'int16', 'int32', 'int64', 'int8', 'int_', 'intc', 'integer', 'interp', 'intersect1d', 'intp', 'invert', 'is_busday', 'isclose', 'iscomplex', 'iscomplexobj', 'isfinite', 'isfortran', 'isin', 'isinf', 'isnan', 'isnat', 'isneginf', 'isposinf', 'isreal', 'isrealobj', 'isscalar', 'issctype', 'issubclass_', 'issubdtype', 'issubsctype', 'iterable', 'ix_', 'kaiser', 'kron', 'lcm', 'ldexp', 'left_shift', 'less', 'less_equal', 'lexsort', 'lib', 'linalg', 'linspace', 'little_endian', 'load', 'loads', 'loadtxt', 'log', 'log10', 'log1p', 'log2', 'logaddexp', 'logaddexp2', 'logical_and', 'logical_not', 'logical_or', 'logical_xor', 'logspace', 'longcomplex', 'longdouble', 'longfloat', 'longlong', 'lookfor', 'ma', 'mafromtxt', 'mask_indices', 'mat', 'math', 'matmul', 'matrix', 'matrixlib', 'max', 'maximum', 'maximum_sctype', 'may_share_memory', 'mean', 'median', 'memmap', 'meshgrid', 'mgrid', 'min', 'min_scalar_type', 'minimum', 'mintypecode', 'mkl', 'mod', 'modf', 'moveaxis', 'msort', 'multiply', 'nan', 'nan_to_num', 'nanargmax', 'nanargmin', 'nancumprod', 'nancumsum', 'nanmax', 'nanmean', 'nanmedian', 'nanmin', 'nanpercentile', 'nanprod', 'nanquantile', 'nanstd', 'nansum', 'nanvar', 'nbytes', 'ndarray', 'ndenumerate', 'ndfromtxt', 'ndim', 'ndindex', 'nditer', 'negative', 'nested_iters', 'newaxis', 'nextafter', 'nonzero', 'not_equal', 'numarray', 'number', 'obj2sctype', 'object0', 'object_', 'ogrid', 'oldnumeric', 'ones', 'ones_like', 'os', 'outer', 'packbits', 'pad', 'partition', 'percentile', 'pi', 'piecewise', 'place', 'poly', 'poly1d', 'polyadd', 'polyder', 'polydiv', 'polyfit', 'polyint', 'polymul', 'polynomial', 'polysub', 'polyval', 'positive', 'power', 'printoptions', 'prod', 'product', 'promote_types', 'ptp', 'put', 'put_along_axis', 'putmask', 'quantile', 'r_', 'rad2deg', 'radians', 'random', 'ravel', 'ravel_multi_index', 'real', 'real_if_close', 'rec', 'recarray', 'recfromcsv', 'recfromtxt', 'reciprocal', 'record', 'remainder', 'repeat', 'require', 'reshape', 'resize', 'result_type', 'right_shift', 'rint', 'roll', 'rollaxis', 'roots', 'rot90', 'round', 'round_', 'row_stack', 's_', 'safe_eval', 'save', 'savetxt', 'savez', 'savez_compressed', 'sctype2char', 'sctypeDict', 'sctypes', 'searchsorted', 'select', 'set_numeric_ops', 'set_printoptions', 'set_string_function', 'setbufsize', 'setdiff1d', 'seterr', 'seterrcall', 'seterrobj', 'setxor1d', 'shape', 'shares_memory', 'short', 'show_config', 'sign', 'signbit', 'signedinteger', 'sin', 'sinc', 'single', 'singlecomplex', 'sinh', 'size', 'sometrue', 'sort', 'sort_complex', 'source', 'spacing', 'split', 'sqrt', 'square', 'squeeze', 'stack', 'std', 'str0', 'str_', 'string_', 'subtract', 'sum', 'swapaxes', 'sys', 'take', 'take_along_axis', 'tan', 'tanh', 'tensordot', 'test', 'testing', 'tile', 'timedelta64', 'trace', 'tracemalloc_domain', 'transpose', 'trapz', 'tri', 'tril', 'tril_indices', 'tril_indices_from', 'trim_zeros', 'triu', 'triu_indices', 'triu_indices_from', 'true_divide', 'trunc', 'typeDict', 'typecodes', 'typename', 'ubyte', 'ufunc', 'uint', 'uint0', 'uint16', 'uint32', 'uint64', 'uint8', 'uintc', 'uintp', 'ulonglong', 'unicode_', 'union1d', 'unique', 'unpackbits', 'unravel_index', 'unsignedinteger', 'unwrap', 'use_hugepage', 'ushort', 'vander', 'var', 'vdot', 'vectorize', 'version', 'void', 'void0', 'vsplit', 'vstack', 'warnings', 'where', 'who', 'zeros', 'zeros_like']

In [107]:
class Person:
    name = "John"
    age = 36
    country = "Norway"

print(dir(Person))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'country', 'name']

#### eval()
The eval() function evaluates the specified expression, if the expression is a legal Python statement, it will be executed.

In [108]:
x = 'print(55)'
eval(x)

55

In [109]:
# More practical use is in input statements since using this function we can determine data type of input variable by default.
a = input()
print(a, type(a))

1
1 <class 'str'>

In [110]:
# Using eval() function

a = eval(input())
print(a, type(a))

1
1 <class 'int'>

In [111]:
a = eval(input())
print(a, type(a))

12.345
12.345 <class 'float'>

In [113]:
a = eval(input())
print(a, type(a))

3+5j
(3+5j) <class 'complex'>

In [115]:
# for string you have to give single quotes 

a = eval(input())
print(a, type(a))

'omkar'
omkar <class 'str'>

#### iter()
The iter() function returns an iterator object.

Iterator>> When an object of iterables is created then it is known as iterator. Iterables are nothing but which contains countable numbers of values. like lis, tuple, dictionary, set, string.

`Syntax: iter(object)`

In [121]:
list1 = [2,3,4,5,6]
for char in list1:
    print(char)

2
3
4
5
6

In [125]:
list1 = [2,3,4,5,6]
iterable_item = iter(list1)

a1 = next(iterable_item) # 2
a2 = next(iterable_item) # 3
a3 = next(iterable_item) # 4
a4 = next(iterable_item) # 5
a5 = next(iterable_item) # 6
print(a1)
print(a2)
print(a3)
print(a4)
print(a5)

2
3
4
5
6

In [126]:
# list of vowels

vowels = ['a', 'e', 'i','o','u']
vowels_iter = iter(vowels)
print(next(vowels_iter))
print(next(vowels_iter))
print(next(vowels_iter))
print(next(vowels_iter))
print(next(vowels_iter))

a
e
i
o
u

In [119]:
# Using try and except

l1 = ["we","are","discussing","python","in","online","class"] # iterables
l1_iter = iter(l1) # iterator

try:
    print(next(l1_iter))
    print(next(l1_iter))
    print(next(l1_iter))
    print(next(l1_iter))
    print(next(l1_iter))
    print(next(l1_iter))
    print(next(l1_iter))
    print(type(l1_iter))
    print(next(l1_iter))

except:
    print("printed all")

we
are
discussing
python
in
online
class
<class 'list_iterator'>
printed all

In [120]:
# Using while loop-exception handling

l1 = ["we","are","discussing","python","in","online","class"]

l1_iter = iter(l1)
while(True):
    try:
        print(next(l1_iter))
    except:
        print("printed all")
        break

we
are
discussing
python
in
online
class
printed all

In [127]:
# The reversed() function returns a reversed iterator object.

#### format()
The format() function formats a specified value into a specified format.

`Syntax: format(value, format)`

Legal values:

` '<' - Left aligns the result (within the available space)
 '>' - Right aligns the result (within the available space)
 '^' - Center aligns the result (within the available space)
 '=' - Places the sign to the left most position
 '+' - Use a plus sign to indicate if the result is positive or negative
 '-' - Use a minus sign for negative values only
 ' ' - Use a leading space for positive numbers
 ',' - Use a comma as a thousand separator
 '_' - Use a underscore as a thousand separator
 'b' - Binary format
 'c' - Converts the value into the corresponding unicode character
 'd' - Decimal format
 'e' - Scientific format, with a lower case e
 'E' - Scientific format, with an upper case E
 'f' - Fix point number format
 'F' - Fix point number format, upper case
 'g' - General format
 'G' - General format (using a upper case E for scientific notations)
 'o' - Octal format
 'x' - Hex format, lower case
 'X' - Hex format, upper case
 'n' - Number format
 '%' - Percentage format`

In [128]:
format(3.14, 'f') #float

'3.140000'

In [129]:
format(3, 'b') # binary

'11'

#### pow()
Returns the value of x to the power of y

`Syntax: pow(x, y, z)`

- x: A number, the base
- y: A number, the exponent
- z: (Optional) A number, the modulus

In [131]:
4 ** 2

16

In [132]:
pow(4, 2)

16

In [135]:
pow(4, 3, 5) # (4**3)%5 ; (4*4*4)%5 ; (64)%5 ; 4

4

#### divmod()
The divmod() function returns a tuple containing the quotient  and the remainder when argument1 (dividend) is divided by argument2 (divisor).

`Syntax: divmod(dividend, divisor)`
- dividend: The number you want to divide
- divisor: The number you want to divide with

In [137]:
divmod(143, 2)

(71, 1)

In [138]:
divmod(163, 5)

(32, 3)

#### Extra useful built-in functions of python:

#### bool()
The bool() function returns the boolean value of a specified object. 

The object will always return True, unless:
- The object is empty, like [], (), {}
- The object is False
- The object is 0
- The object is None

`Syntax: bool(object)`

In [2]:
bool(0)

False

In [3]:
bool(1)

True

In [4]:
bool(-1)

True

In [5]:
bool(())

False

In [6]:
bool((2,))

True

In [7]:
bool([])

False

In [8]:
bool({})

False

#### callable()
The callable() function returns True if the specified object is callable, otherwise it returns False. If we just declare a variable with value, it is not callable, but if we declare a function then it becomes callable.

`Syntax: callable()`

In [9]:
callable(6)

False

In [10]:
def func_callable():
    x = 3
    y = 5
    z = x*y
    return z

print(callable(func_callable))
func_callable()

True

15

#### complex()
The complex() function returns a complex number by specifying a real number and an imaginary number.

`Syntax: complex(real, imaginary)`

In [37]:
complex(3,5)

(3+5j)

In [38]:
complex(5,3)

(5+3j)

#### delattr()
The delattr() function will delete the specified attribute from the specified object.

`Syntax: delattr(object, attribute)`
- object: Required. An object.
- attribute: Required. The name of the attribute you want to remove

In [42]:
class Person:
    name = "John"
    age = 36
    country = "Norway"

delattr(Person, 'age')

# age attribute got deleted
# print(age)

#### getattr()
The getattr() function returns the value of the specified attribute from the specified object.

`Syntax: getattr(object, attribute, default)`
- object: Required. An object.
- attribute:	The name of the attribute you want to get the value from
- default: Optional. The value to return if the attribute does not exist

In [45]:
class Person:
    name = "John"
    age = 36
    country = "Norway"

x = getattr(Person, 'age')
print(x)

36

In [48]:
# Use the "default" parameter to write a message when the attribute does not exist

class Person:
    name = "John"
    age = 36
    country = "Norway"

x = getattr(Person, 'page', 'Attribute does not exists')
print(x)

Attribute does not exists

#### hasattr()
The hasattr() function returns True if the specified object has the specified attribute, otherwise False.

`Syntax: hasattr(object, attribute)`
- object: Required. An object.
- attribute: The name of the attribute you want to check if exists

In [49]:
class Person:
    name = "John"
    age = 36
    country = "Norway"

hasattr(Person, 'age')

True

In [50]:
class Person:
    name = "John"
    age = 36
    country = "Norway"
    
hasattr(Person, 'page')

False

#### setattr()
The setattr() function sets the value of the specified attribute of the specified object.

`Syntax: setattr(object, attribute, value)`
- object: Required. An object.
- attribute: Required. The name of the attribute you want to set
- value: Required. The value you want to give the specified attribute

In [54]:
class Person:
    name = "John"
    age = 36
    country = "Norway"

setattr(Person, 'age', 40)

print(getattr(Person, 'age'))

40

#### enumerate()
function adds a counter as the key of the enumerate object.

`Syntax: enumerate(iterable, start)`
- iterable: An iterable object
- start: A Number. Defining the start number of the enumerate object. Default 0

In [56]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)
print(list(y))

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [57]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x,5)
print(list(y))

[(5, 'apple'), (6, 'banana'), (7, 'cherry')]

In [63]:
# BY default start from 0

list1 = ('apple', 'banana', 'cherry')
for x,y in enumerate(list1):
    print(x,y)

0 apple
1 banana
2 cherry

In [65]:
# counting start from 5

list1 = ('apple', 'banana', 'cherry')
for x,y in enumerate(list1,5):
    print(x,y)

5 apple
6 banana
7 cherry

#### exec()
The exec() function executes the specified Python code. The exec() function accepts large blocks of code, unlike the eval() function which only accepts a single expression.

`Syntax: exec(object, globals, locals)`
- object: A String, or a code object
- globals: Optional. A dictionary containing global parameters
- locals: Optional. A dictionary containing local parameters

In [66]:
x = 'name = "John"\nprint(name)'
exec(x)

John

#### help()
Executes the built-in help system

In [69]:
help(int)

Help on class int in module builtins:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Built-in subclasses:
 |      bool
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Default object formatter.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  as_integer_ratio(self, /)
 |      Return integer ratio.
 |
 |      Return a pair of integers, whose ratio is exactly equal to the original int
 |      and with a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  to_bytes(self, /, length, byteorder, *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder, *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [71]:
help()

Welcome to Python 3.8's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.8/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> lambda
Lambdas
*******

   lambda_expr        ::= "lambda" [parameter_list] ":" expression
   lambda_expr_nocond ::= "lambda" [parameter_list] ":" expression_nocond

Lambda expressions (sometimes called lambda forms) are used to create
anonymous functions. The expression "lambda parameters: expression"
yields a function object.  The unnamed object behaves like a function
object defined with:

   def <lambda>(parameters):
       return expression

See section Function definitions for the syntax of parameter lists.
Note that functions created with lambda expressions cannot contain
statements or annotations.

Related help topics: FUNCTIONS


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

#### hex()
The hex() function converts the specified number into a hexadecimal value. The returned string always starts with the prefix 0x.

In [72]:
hex(23)

'0x17'

#### id()
returns id of an object

In [73]:
id(2)

140710553003856

In [74]:
id('omkar')

2741723199536

#### input()
Takes input from user

In [80]:
x = int(input('Please provide valuefor x: '))
print(f'value for x is {x}')

Please provide valuefor x: 5
value for x is 5

#### isinstance()
The isinstance() function returns True if the specified object is of the specified type, otherwise False. If the type parameter is a tuple, this function will return True if the object is one of the types in the tuple.

`Syntax: isinstance(object, type)`
- object: Required. An object.
- type: A type or a class, or a tuple of types and/or classes

In [82]:
# Check if "Hello" is one of the types described in the type parameter

isinstance("Hello", (float, int, str, list, dict, tuple))

True

In [83]:
class myObj:
    name = "John"

y = myObj()
isinstance(y, myObj)

True

#### issubclass()
The issubclass() function returns True if the specified object is a subclass of the specified object, otherwise False.

`Syntax: issubclass(object, subclass)`
- object: Required. An object.
- subclass: A class object, or a tuple of class objects.

In [84]:
class myAge:
    age = 36

class myObj(myAge):
    name = "John"
    age = myAge

issubclass(myObj, myAge)

True

#### next()
The next() function returns the next item in an iterator. You can add a default return value, to return if the iterable has reached to its end.

`Syntax: next(iterable, default)`
- iterable: Required. An iterable object.
- default: Optional. An default value to return if the iterable has reached to its end.

In [87]:
mylist = iter(["apple", "banana", "cherry"])
print(next(mylist))
print(next(mylist))
print(next(mylist))

apple
banana
cherry

In [88]:
list1 = [2,3,4,5,6]
iterable_item = iter(list1)

a1 = next(iterable_item) # 2
a2 = next(iterable_item) # 3
a3 = next(iterable_item) # 4
a4 = next(iterable_item) # 5
a5 = next(iterable_item) # 6
print(a1)
print(a2)
print(a3)
print(a4)
print(a5)

2
3
4
5
6

#### max()
The max() function returns the item with the highest value, or the item with the highest value in an iterable. If the values are strings, an alphabetically comparison is done.

In [90]:
list1 = [12,34,53,23]
max(list1)

53

In [93]:
max(19,34)

34

#### min()
The min() function returns the item with the lowest value, or the item with the lowest value in an iterable. If the values are strings, an alphabetically comparison is done.

In [96]:
list1 = [12,34,53,23]
min(list1)

12

#### sum()
returns sum

In [95]:
list1 = [12,34,53,23]
sum(list1)

122

#### oct()
The oct() function converts an integer into an octal string. Octal strings in Python are prefixed with 0o.

In [97]:
oct(18)

'0o22'

In [98]:
oct(12)

'0o14'

#### open()
The open() function opens a file, and returns it as a file object. Read more about file handling in our chapters about File Handling.

`Syntax: open(file, mode)`
- file: The path and name of the file
- mode: A string, define which mode you want to open the file in:
  - "r" - Read - Default value. Opens a file for reading, error if the file does not exist
  - "a" - Append - Opens a file for appending, creates the file if it does not exist
  - "w" - Write - Opens a file for writing, creates the file if it does not exist
  - "x" - Create - Creates the specified file, returns an error if the file exist

In addition you can specify if the file should be handled as binary or text mode

  - "t" - Text - Default value. Text mode
  - "b" - Binary - Binary mode (e.g. images)

In [ ]:
# file1 = open("demofile.txt", "r")
# print(file1.read())
# file1.close()

In [ ]:
# file1 = open('txt1.txt','w')
# file1.write('Hello world')
# file1.close()

#### reversed()
The reversed() function returns a reversed iterator object.

In [104]:
alph = ["a", "b", "c", "d"]
list1= list(reversed(alph))
print(list1)

['d', 'c', 'b', 'a']

#### sorted()
The sorted() function returns a sorted list of the specified iterable object. You can specify ascending or descending order. Strings are sorted alphabetically, and numbers are sorted numerically.

`Syntax: sorted(iterable, key=key, reverse=True/False)`
- iterable: Required. The sequence to sort, list, dictionary, tuple etc.
- key: Optional. A Function to execute to decide the order. Default is None
- reverse: Optional. A Boolean. False will sort ascending, True will sort descending. Default is False.

In [105]:
a = ("b", "g", "a", "d", "f", "c", "h", "e")
x = sorted(a)
print(x)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [106]:
a = ("h", "b", "a", "c", "f", "d", "e", "g")
x = sorted(a)
print(x)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

#### round()
The round() function returns a floating point number that is a rounded version of the specified number, with the specified number of decimals. The default number of decimals is 0, meaning that the function will return the nearest integer.

`Syntax: round(number, digits)`
- number: Required. The number to be rounded
- digits: Optional. The number of decimals to use when rounding the number. Default is 0

In [107]:
x = round(5.76543)
print(x)

6

In [108]:
x = round(5.76543,2)
print(x)

5.77

#### slice()
The slice() function returns a slice object. A slice object is used to specify how to slice a sequence. You can specify where to start the slicing, and where to end. You can also specify the step, which allows you to e.g. slice only every other item.

`Syntax: slice(start, end, step)`
- start: Optional. An integer number specifying at which position to start the slicing. Default is 0
- end: An integer number specifying at which position to end the slicing
- step: Optional. An integer number specifying the step of the slicing. Default is 1

In [109]:
a = ("a", "b", "c", "d", "e", "f", "g", "h")
x = slice(3, 5)
print(a[x])

('d', 'e')

In [110]:
a = ("a", "b", "c", "d", "e", "f", "g", "h")
x = slice(2)
print(a[x])

('a', 'b')

#### super()
The super() function is used to give access to methods and properties of a parent or sibling class. The super() function returns an object that represents the parent class.

In [112]:
class Parent:
    def __init__(self, txt):
        self.message = txt

    def printmessage(self):
        print(self.message)

class Child(Parent):
    def __init__(self, txt):
        super().__init__(txt)

x = Child("Hello, and welcome!")
x.printmessage()

Hello, and welcome!

In [113]:
# End of built-in functions....