#### Escape characters

#### \
Removes the functionality of '

In [1]:
# If we want to use apostrophe in our sentence then there basically two methods
# 1) Use of double quotes for string
# 2) Use of escape character

In [2]:
# 1)
str1 = "world's population is increasing day by day"
print(str1)

world's population is increasing day by day

In [2]:
# 2) Use of escape character
str2 = 'India\'s Taj Mahal'
print(str2)

India's Taj Mahal

#### \n
Indicates end of line of text (enters into the next line)

In [10]:
str3 = 'Hello\nWorld'
print(str3)

Hello
World

#### \t
To insert tab(space) in between words

In [1]:
str4 = 'Hello\tWorld'
print(str4)

Hello	World

In [12]:
str5 = 'Hello\n\tWorld'
print(str5)

Hello
	World

In [2]:
str1 = "This will insert one \\ (backslash)."
print(str1)

This will insert one \ (backslash).

#### Indexing
(starts from '0' whereas length starts from '1')

syntax: [start index: end index : step size]

In [5]:
# Positive indexing

str1 = 'data science'
print(str1[::])
print(str1[::1])
print(str1[0::1])
print(str1[0:len(str1):1])

data science
data science
data science
data science

In [8]:
# Negative indexing

str1 = 'python'
print(str1[::-1])
print(str1[-1:-7:-1])

nohtyp
nohtyp

#### enumarate() function
method adds a counter to an iterable and returns it in a form of enumerating object. This enumerated object can then be used directly for loops or converted into a list of tuples using the list() method.

In [1]:
str1 = 'science'
for i, j in enumerate(str1):
    print(f"Char at index {i} is {j}")

Char at index 0 is s
Char at index 1 is c
Char at index 2 is i
Char at index 3 is e
Char at index 4 is n
Char at index 5 is c
Char at index 6 is e

In [2]:
str1 = 'science'
index = 0
for char in str1:
    print("Char is :", char)
    print("index is :",index)
    index = index + 1 # 0 + 1 = 1
                      # 1 + 1 = 2

Char is : s
index is : 0
Char is : c
index is : 1
Char is : i
index is : 2
Char is : e
index is : 3
Char is : n
index is : 4
Char is : c
index is : 5
Char is : e
index is : 6